<div class="what_is_Raganr_main">
  <section class="what-is-ragnar-banner">
    <div class="title-sec">
      <div class="wir-title text-center text-uppercase">{{ 'static-pages.what-is-ragnar.title' | translate }}</div>
    </div>
    <div class="ragnar-category mx-auto container">
      <div class="category-item">
        <a routerLink="/{{ headerRoutes.whatIsRagnarRoad }}"> </a>
        <div class="category road">
          <a routerLink="/{{ headerRoutes.whatIsRagnarRoad }}">
            <div class="category-img">
              <img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/discover-road.jpg" />
              <div class="category-detail">
                <div class="category-title">{{ 'common-data.road' | translate }}</div>
                <div class="category-desc">
                  {{ 'static-pages.what-is-ragnar.adventure' | translate
                  }}<span>{{ 'static-pages.what-is-ragnar.road-trip' | translate }}</span>
                </div>
              </div>
            </div>
          </a>
          <div class="category-link">
            <a routerLink="/{{ headerRoutes.whatIsRagnarRoad }}"
              >{{ 'static-pages.what-is-ragnar.discover-road' | translate
              }}<img class="arrow-right" src="assets/images/static-pages/whatis-ragnar/arrow-right.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="category-item">
        <a routerLink="/{{ headerRoutes.whatIsRagnarTrail }}"> </a>
        <div class="category road">
          <a routerLink="/{{ headerRoutes.whatIsRagnarTrail }}">
            <div class="category-img">
              <img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/discover-trail.jpg" />
              <div class="category-detail">
                <div class="category-title">{{ 'static-pages.what-is-ragnar.trail' | translate }}</div>
                <div class="category-desc">
                  {{ 'static-pages.what-is-ragnar.summer-camp' | translate
                  }}<span>{{ 'static-pages.what-is-ragnar.trail-running' | translate }}</span>
                </div>
              </div>
            </div>
          </a>
          <div class="category-link">
            <a routerLink="/{{ headerRoutes.whatIsRagnarTrail }}"
              >{{ 'static-pages.what-is-ragnar.discover-trail' | translate
              }}<img class="arrow-right" src="assets/images/static-pages/whatis-ragnar/arrow-right.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="category-item">
        <a routerLink="/{{ headerRoutes.whatIsRagnarSunset }}"> </a>
        <div class="category road">
          <a routerLink="/{{ headerRoutes.whatIsRagnarSunset }}">
            <div class="category-img">
              <img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/discover-sunset.jpg" />
              <div class="category-detail">
                <div class="category-title">{{ 'static-pages.what-is-ragnar.sunset' | translate }}</div>
                <div class="category-desc">
                  {{ 'static-pages.what-is-ragnar.finish-before' | translate
                  }}<span>{{ 'static-pages.what-is-ragnar.goes-down' | translate }}</span>
                </div>
              </div>
            </div>
          </a>
          <div class="category-link">
            <a routerLink="/{{ headerRoutes.whatIsRagnarSunset }}"
              >{{ 'static-pages.what-is-ragnar.discover-sunset' | translate
              }}<img class="arrow-right" src="assets/images/static-pages/whatis-ragnar/arrow-right.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ragnar-formula-wrapper text-center">
    <h2 class="ragnar-formula-title text-uppercase">{{ 'static-pages.what-is-ragnar.ragnar-formula' | translate }}</h2>
    <p class="ragnar-formula-desc mx-auto">
      {{ 'static-pages.what-is-ragnar.set-goal' | translate }}
    </p>
  </section>
  <section class="ragnar-challanges-wrapper">
    <div class="ragnar-challanges-inner">
      <div class="four-item">
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-5.jpg" /></div>
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-6.jpg" /></div>
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-7.jpg" /></div>
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-8.jpg" /></div>
      </div>
      <div class="ragnar-challanges-content text-center">
        <h2 class="rcc-title text-uppercase mt-0">{{ 'static-pages.what-is-ragnar.ragnar-challenges' | translate }}</h2>
        <div class="rcc-desc mx-auto">
          {{ 'static-pages.what-is-ragnar.about-challenges' | translate }}
        </div>
        <!-- Commented as per RW-453 -->
        <!-- <a class="rcc-link d-inline-block text-uppercase" href="https://www.ragnarchallenges.com/"
          >{{ 'static-pages.what-is-ragnar.discover-challenges' | translate
          }}<img class="arrow-right" src="assets/images/static-pages/whatis-ragnar/arrow-right.png"
        /></a> -->
        <div class="ragnar-challanges-logo">
          <div class="rclogo-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/day-of-the-girl-logo.png" /></div>
          <div class="rclogo-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/chase-the-moon-logo.png" /></div>
          <div class="rclogo-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/7-summits-logo.png" /></div>
          <div class="rclogo-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/31dc-logo.png" /></div>
          <div class="rclogo-item">
            <img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/love-a-trail-challenge-logo.png" />
          </div>
          <div class="rclogo-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/no-buts-night-run-logo.png" /></div>
        </div>
      </div>
      <div class="four-item">
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-1.jpg" /></div>
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-2.jpg" /></div>
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-3.jpg" /></div>
        <div class="rcg-item"><img class="img-fluid" src="assets/images/static-pages/whatis-ragnar/challange-4.jpg" /></div>
      </div>
    </div>
  </section>
</div>
