<div class="our-story_main">
  <section class="our-story-banner text-left">
    <div class="container our-story-banner-title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.our-story.title' | translate }}</div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 main-content-col">
          <div class="our-story-founder-text">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.our-story.the-founders' | translate }}</h3>
            <p>
              {{ 'static-pages.our-story.about-the-founders' | translate }}
            </p>
          </div>

          <div class="our-story-whatsin-text">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.our-story.what’s-in-name' | translate }}</h3>
            <p>
              {{ 'static-pages.our-story.about-what’s-in-name-line1' | translate }}
            </p>
            <p>
              {{ 'static-pages.our-story.about-what’s-in-name-line2' | translate }}
            </p>
            <p>
              {{ 'static-pages.our-story.about-what’s-in-name-line3' | translate }}
            </p>
            <p>
              {{ 'static-pages.our-story.about-what’s-in-name-line4' | translate }}
            </p>
            <p>{{ 'static-pages.our-story.about-what’s-in-name-line5' | translate }}</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 thumbs-container">
          <img class="img-fluid thumbnail mt-1" src="assets/images/static-pages/our-story/ragnar-viking.jpg" alt="" />
          <img class="img-fluid thumbnail" src="assets/images/static-pages/our-story/dirt-runner.jpg" alt="" />
          <img class="img-fluid thumbnail" src="assets/images/static-pages/our-story/mountain-runner.jpg" alt="" />
          <img class="img-fluid thumbnail" src="assets/images/static-pages/our-story/water-runner.jpg" alt="" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 next-steps">
          <h2>{{ 'common-data.next-steps' | translate }}</h2>
          <div class="separator"></div>
          <ul class="text-left">
            <li>
              <a href="https://recruiting.paylocity.com/recruiting/jobs/List/3470/Ragnar-Events-LLC" target="_blank">{{
                'static-pages.our-story.check-out-careers' | translate
              }}</a>
            </li>
          </ul>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </section>
</div>
