<div class="modal-dialog">
  <div class="modal-header">
    <button type="button" (click)="close()" data-dismiss="modal" class="close">
      <i class="iconm-X" aria-hidden="true"></i>
    </button>
    <h4 class="modal-title">Roster Substitution</h4>
  </div>
  <div class="modal-body team-center-roster">
    <div class="modal-roster-delete">
      <h4>Runner substitutions happen on site.</h4>
      <h4>Ask the runner(s) being added to go to HQ to sign a waiver watch the safety video, and sign the health declaration.</h4>
    </div>
  </div>
</div>
