.road-color {
  color: #00a8b9;
}
.trail-color {
  color: #bfa330;
}
.sprint-color {
  color: #bf3d0a;
}
.sunset-color {
  color: #f17a21;
}
// .mobile-race-head {
//   padding-right: 0;
//   padding-left: 10px !important;
//   margin-bottom: 0;
//   border: 0px solid rgba(0, 0, 0, 0.1) !important;
// }
