<div class="volunteer_main">
  <section class="volunteer_banner text-left">
    <div class="container volunteer_banner_title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.volunteer.title' | translate }}</div>
    </div>
  </section>
  <section class="volunteer_main-content_section">
    <div class="container">
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.volunteer-wanted' | translate }}</h3>
        <p>
          {{ 'static-pages.volunteer.about-volunteer-wanted' | translate }}
        </p>
        <a href="{{ headerRoutes.communityVolunteers }}" target="_blank">{{ 'static-pages.volunteer.nominated-group' | translate }}</a>
      </div>
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.volunteer-signup-info' | translate }}</h3>
        <p>
          {{ 'static-pages.volunteer.about-volunteer-signup-info' | translate }}
        </p>
      </div>
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.road-relay' | translate }}</h3>
        <p class="mb-10">
          {{ 'static-pages.volunteer.about-road-relay-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.volunteer.about-road-relay-line2' | translate }}
        </p>
        <ul>
          <li>{{ 'static-pages.volunteer.volunteer-shift1' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift2' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift3' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift4' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift5' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift6' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift7' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift8' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift9' | translate }}</li>
          <li>{{ 'static-pages.volunteer.volunteer-shift10' | translate }}</li>
        </ul>
      </div>
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.volunteer-shift' | translate }}</h3>
        <p>
          <!-- {{ 'static-pages.volunteer.about-volunteer-shift' | translate }} -->
          <!-- <a routerLink="/{{ headerRoutes.volunteerContact }}">{{ 'static-pages.volunteer.volunteer-team' | translate }}</a> -->
          <a href="https://ragnarrelay.quip.com/aemCAJUFZ0y7/Ragnar-Volunteer-CoordinatorRace-Director-Contacts" target="_blank"
            >Event Volunteer Contacts HERE</a
          >
        </p>
      </div>
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.trail-relay' | translate }}</h3>
        <p>
          {{ 'static-pages.volunteer.about-trail-relay' | translate }}
          <a href="https://quip.com/aemCAJUFZ0y7" target="_blank">{{ 'static-pages.volunteer.volunteer-team' | translate }} </a>
        </p>
      </div>
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.swat-volunteers' | translate }}</h3>
        <p>{{ 'static-pages.volunteer.about-swat-volunteers-line1' | translate }}</p>
        <ul>
          <li>{{ 'static-pages.volunteer.about-swat-volunteers-line2' | translate }}</li>
          <li>
            {{ 'static-pages.volunteer.about-swat-volunteers-line3' | translate }}
          </li>
          <li>{{ 'static-pages.volunteer.about-swat-volunteers-line4' | translate }}</li>
          <li>
            {{ 'static-pages.volunteer.about-swat-volunteers-line5' | translate }}
            <a href="https://airtable.com/shreLdboou8nVorkw" target="_blank"
              >{{ 'static-pages.volunteer.about-swat-volunteers-line6' | translate }}
            </a>
          </li>
          <!-- <li>
            {{ 'static-pages.volunteer.about-swat-volunteers-line7' | translate }}
            <a href="https://airtable.com/shrc5MdzJIuoc0hl7" target="_blank">
              {{ 'static-pages.volunteer.about-swat-volunteers-line8' | translate }}
            </a>
            {{ 'static-pages.volunteer.about-swat-volunteers-line9' | translate }}
            <a href="mailto:amanda@ragnarrelay.com">{{ 'static-pages.volunteer.about-swat-volunteers-line10' | translate }} </a>
          </li> -->
        </ul>
      </div>
      <div class="volunteer_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.volunteer.what-to-wear-and-bring' | translate }}</h3>
        <ul>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line1' | translate }}</li>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line2' | translate }}</li>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line3' | translate }}</li>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line4' | translate }}</li>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line5' | translate }}</li>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line6' | translate }}</li>
          <li>{{ 'static-pages.volunteer.about-what-to-wear-and-bring-line7' | translate }}</li>
          <li>
            {{ 'static-pages.volunteer.about-what-to-wear-and-bring-line8' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
