<div class="legs_table">
  <h6 class="head_style">{{ 'components.virtual-challenge.assign-leg.title' | translate }} <span>2/8</span></h6>
  <div class="edit_row">
    <div class="img_col">
      <img src="assets/images/virtual-challenge/avtar1.png" alt="Community" />
      <div class="name_col">
        <h4>{{ 'components.virtual-challenge.assign-leg.leg-1' | translate }}</h4>
        <h5>{{ 'components.virtual-challenge.assign-leg.geof' | translate }}</h5>
      </div>
    </div>
    <button class="btn_highf"><i class="iconm-X"></i>{{ 'components.virtual-challenge.assign-leg.remove' | translate }}</button>
  </div>
  <div class="edit_row">
    <div class="img_col">
      <img src="assets/images/virtual-challenge/avtar2.png" alt="Community" />
      <div class="name_col">
        <h4>{{ 'components.virtual-challenge.assign-leg.leg-2' | translate }}</h4>
        <h5>{{ 'components.virtual-challenge.assign-leg.quintin' | translate }}</h5>
      </div>
    </div>
    <button class="btn_highf"><i class="iconm-X"></i>{{ 'components.virtual-challenge.assign-leg.remove' | translate }}</button>
  </div>
  <div class="edit_row">
    <div class="img_col">
      <span class="avtar_box">3</span>
      <div class="name_col">
        <h4>{{ 'components.virtual-challenge.assign-leg.leg-3' | translate }}</h4>
        <h5>{{ 'components.virtual-challenge.assign-leg.quintin' | translate }}</h5>
      </div>
    </div>
    <button class="btn_highf"><i class="iconm-X"></i> {{ 'components.virtual-challenge.assign-leg.remove' | translate }}</button>
  </div>
  <div class="edit_row">
    <div class="img_col">
      <span class="avtar_box">4</span>
      <div class="name_col">
        <h4>{{ 'components.virtual-challenge.assign-leg.leg-4' | translate }}</h4>
        <h5>{{ 'components.virtual-challenge.assign-leg.quintin' | translate }}</h5>
      </div>
    </div>
    <button class="btn_highf"><i class="iconm-plus"></i>{{ 'components.virtual-challenge.assign-leg.assign' | translate }}</button>
  </div>
  <div class="edit_row">
    <div class="img_col">
      <span class="avtar_box">5</span>
      <div class="name_col">
        <h4>{{ 'components.virtual-challenge.assign-leg.leg-5' | translate }}</h4>
        <!-- <h5>Assigned To Quintin</h5> -->
      </div>
    </div>
    <button class="btn_highf"><i class="iconm-plus"></i>{{ 'components.virtual-challenge.assign-leg.assign' | translate }}</button>
  </div>
  <div class="edit_row">
    <div class="img_col">
      <span class="avtar_box">6</span>
      <div class="name_col">
        <h4>{{ 'components.virtual-challenge.assign-leg.leg-6' | translate }}</h4>
        <!-- <h5>Assigned To Quintin</h5> -->
      </div>
    </div>
    <button class="btn_highf"><i class="iconm-plus"></i>{{ 'components.virtual-challenge.assign-leg.assign' | translate }}</button>
  </div>

  <button class="rg_btn mb-4" (click)="onDashboardScreenChange('dashboard')">
    {{ 'components.virtual-challenge.assign-leg.back-to-dashboard' | translate }}
  </button>
</div>
