<div class="community_band">
  <div class="row stats_cols">
    <div class="col-md-6 mb-3">
      <h5>{{ 'components.virtual-challenge.community.miles' | translate }}</h5>
      <h2>{{ 'components.virtual-challenge.community.rang2' | translate }}</h2>
    </div>
    <div class="col-md-6 mb-3">
      <h5>{{ 'components.virtual-challenge.community.active-challenges' | translate }}</h5>
      <h2>281</h2>
    </div>
    <div class="col-md-6 mb-3">
      <h5>{{ 'components.virtual-challenge.community.completed-challenges' | translate }}</h5>
      <h2>120,014</h2>
    </div>
    <div class="col-md-6 mb-3">
      <h5>{{ 'components.virtual-challenge.community.sticks-mistaken' | translate }}</h5>
      <h2>817</h2>
    </div>
    <div class="col-md-6 mb-3">
      <h5>{{ 'components.virtual-challenge.community.raised' | translate }}</h5>
      <h2>$101,933</h2>
    </div>
  </div>
  <div class="recent_community">
    <h6 class="head_style activity_indicate">{{ 'components.virtual-challenge.community.recent-runs' | translate }}</h6>
    <div class="community_row">
      <div class="img_col">
        <img src="assets/images/virtual-challenge/community_a1.png" alt="Community" />
        <div class="name_col">
          <h4>{{ 'components.virtual-challenge.community.rang1' | translate }}</h4>
          <h5>{{ 'components.virtual-challenge.community.quintin' | translate }}</h5>
        </div>
      </div>
      <button class="btn_highf">
        <strong>5X</strong><i class="iconm-highfive"></i> {{ 'components.virtual-challenge.community.high-five' | translate }}
      </button>
    </div>
    <div class="community_row">
      <div class="img_col">
        <img src="assets/images/virtual-challenge/community_a2.png" alt="Community" />
        <div class="name_col">
          <h4>{{ 'components.virtual-challenge.community.rang1' | translate }}</h4>
          <h5>{{ 'components.virtual-challenge.community.quintin' | translate }}</h5>
        </div>
      </div>
      <button class="btn_highf">
        <strong>5X</strong><i class="iconm-highfive"></i> {{ 'components.virtual-challenge.community.high-five' | translate }}
      </button>
    </div>
    <div class="community_row">
      <div class="img_col">
        <img src="assets/images/virtual-challenge/community_a3.png" alt="Community" />
        <div class="name_col">
          <h4>{{ 'components.virtual-challenge.community.rang1' | translate }}</h4>
          <h5>{{ 'components.virtual-challenge.community.quintin' | translate }}</h5>
        </div>
      </div>
      <button class="btn_highf">
        <strong>5X</strong><i class="iconm-highfive"></i> {{ 'components.virtual-challenge.community.high-five' | translate }}
      </button>
    </div>
  </div>
  <div class="insta_band">
    <h6 class="head_style activity_indicate">
      {{ 'components.virtual-challenge.community.instagram' | translate }}
      <span>{{ 'components.virtual-challenge.community.runragnar' | translate }}</span>
    </h6>
    <img src="assets/images/virtual-challenge/insta.png" alt="Instagram" />
  </div>
</div>
