<div class="innovation_main">
  <section class="innovation-banner">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <img
            src="assets/images/static-pages/innovation-lab/innovation-lab-logo.png"
            class="img-fluid innovation-logo d-inline-block text-center"
            alt="innovation-lab-logo"
          />
          <h1 class="text-center text-uppercase">
            {{ 'static-pages.innovation-lab.innovation-is' | translate }} <br />
            {{ 'static-pages.innovation-lab.our-middle-name' | translate }}
          </h1>
          <p class="innovation-info text-center">
            {{ 'static-pages.innovation-lab.about-innovation-lab-line1' | translate }}
            <b>{{ 'static-pages.innovation-lab.about-innovation-lab-line2' | translate }}</b>
            {{ 'static-pages.innovation-lab.about-innovation-lab-line3' | translate }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="proprietary-formula">
    <div class="container">
      <div class="innovation-title-sec text-center">
        <h2 class="text-uppercase d-inline-block">{{ 'static-pages.innovation-lab.our-proprietary-formula' | translate }}</h2>
        <p class="proprietary-formula-info">
          {{ 'static-pages.innovation-lab.about-our-proprietary-formula' | translate }}
        </p>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 proprietary-formula-row">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 proprietary-formula-col">
              <div class="formula-box">
                <img
                  src="assets/images/static-pages/innovation-lab/idea-icon.png"
                  class="img-fluid center-block formula-icon"
                  alt="Idea Icon"
                />
                <h4>{{ 'static-pages.innovation-lab.some-off-beat-ideas' | translate }}</h4>
                <h6>{{ 'static-pages.innovation-lab.about-some-off-beat-ideas' | translate }}</h6>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 proprietary-formula-col">
              <div class="formula-box">
                <img
                  src="assets/images/static-pages/innovation-lab/feedback-icon.png"
                  class="img-fluid center-block formula-icon"
                  alt="Feedback Icon"
                />
                <h4>{{ 'static-pages.innovation-lab.lots-of-runner-feedback' | translate }}</h4>
                <h6>
                  {{ 'static-pages.innovation-lab.about-lots-of-runner-feedback' | translate }}
                </h6>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 proprietary-formula-col">
              <div class="formula-box">
                <img
                  src="assets/images/static-pages/innovation-lab/crazy-touch-icon.png"
                  class="img-fluid center-block formula-icon"
                  alt="Crazy Touch Icon"
                />
                <h4>{{ 'static-pages.innovation-lab.touch-of-crazy' | translate }}</h4>
                <h6>{{ 'static-pages.innovation-lab.about-touch-of-crazy' | translate }}</h6>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 proprietary-formula-col">
              <div class="formula-box">
                <img
                  src="assets/images/static-pages/innovation-lab/passion-icon.png"
                  class="img-fluid center-block formula-icon"
                  alt="Passion Icon"
                />
                <h4>{{ 'static-pages.innovation-lab.whole-lot-of-passion' | translate }}</h4>
                <h6>
                  {{ 'static-pages.innovation-lab.about-whole-lot-of-passion' | translate }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="recent-innovation-grads text-center">
    <div class="container">
      <h2>{{ 'static-pages.innovation-lab.recent-innovation-grads' | translate }}</h2>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="stuff-desc">
            {{ 'static-pages.innovation-lab.about-recent-innovation-grads' | translate }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block dark-bg-block sunset-series">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block sunset-series-col">
          <h3>{{ 'static-pages.innovation-lab.sunset-series' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-sunset-series' | translate }}
          </p>
          <a class="btn-orange rg_tmbtn" routerLink="/{{ headerRoutes.whatIsRagnarSunset }}"
            >{{ 'static-pages.innovation-lab.learn-more' | translate }}
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block sunset-series-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/how-to-works-1.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block black-loop">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block black-loop-col">
          <h3>{{ 'static-pages.innovation-lab.black-loop-at-ragnar' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-black-loop-at-ragnar' | translate }}
          </p>
          <a class="btn-orange rg_tmbtn" routerLink="/{{ headerRoutes.whatIsRagnarBlackloop }}"
            >{{ 'static-pages.innovation-lab.learn-more' | translate }}
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block black-loop-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/how-to-works-2.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works1' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block dark-bg-block glamping">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block glamping-col">
          <h3>{{ 'static-pages.innovation-lab.glamping-at-ragnar-trail' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-glamping-at-ragnar-trail' | translate }}
          </p>
          <a class="btn-orange rg_tmbtn" routerLink="/{{ headerRoutes.ragnarTrailGlamping }}"
            >{{ 'static-pages.innovation-lab.learn-more' | translate }}
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block glamping-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/how-to-works-3.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works2' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-trying text-center">
    <div class="container">
      <h2>{{ 'static-pages.innovation-lab.stuff-trying-out' | translate }}</h2>
    </div>
  </section>
  <section class="stuff-block dark-bg-block sprint-day">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block sprint-day-col">
          <h3>{{ 'static-pages.innovation-lab.sprint-at-ragnar-trail' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-sprint-at-ragnar-trail' | translate }}
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block sprint-day-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/sprint-day.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works3' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block plus-ragnar">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block plus-ragnar-col">
          <h3>{{ 'static-pages.innovation-lab.p-l-u-s-at-ragnar-road' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-p-l-u-s-at-ragnar-road' | translate }}
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block plus-ragnar-col">
          <div class="stuff-card">
            <img src="assets/images/static-pages/innovation-lab/plus.jpg" class="img-fluid center-block formula-icon" alt="How to Works" />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works1' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block trail-timing dark-bg-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block trail-timing-col">
          <h3>
            {{ 'static-pages.innovation-lab.trail-timing' | translate }} &amp; {{ 'static-pages.innovation-lab.text-alerts' | translate }}
          </h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-trail-timing' | translate }}
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block trail-timing-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/how-to-works-4.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works4' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block motivational-viking">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block motivational-viking-col">
          <h3>{{ 'static-pages.innovation-lab.motivational-viking' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-motivational-viking' | translate }}
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block motivational-viking-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/how-to-works-5.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works5' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stuff-block porta-potty dark-bg-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left stuff-left-block porta-potty-col">
          <h3>{{ 'static-pages.innovation-lab.porta-potty-newsletter' | translate }}</h3>
          <p class="stuff-info">
            {{ 'static-pages.innovation-lab.about-porta-potty-newsletter' | translate }}
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 text-center stuff-right-block porta-potty-col">
          <div class="stuff-card">
            <img
              src="assets/images/static-pages/innovation-lab/how-to-works-6.jpg"
              class="img-fluid center-block formula-icon"
              alt="How to Works"
            />
            <div class="card-content">
              <h4>{{ 'static-pages.innovation-lab.how-it-works' | translate }}</h4>
              <p class="content-info">
                {{ 'static-pages.innovation-lab.about-how-it-works6' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonial-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div id="testimonial" class="carousel slide text-center" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active quotes-row">
                <div class="quotes-text">{{ 'static-pages.innovation-lab.footer-slider-line1' | translate }}</div>
                <h4 class="quotes-author">{{ 'static-pages.innovation-lab.footer-slider-author1' | translate }}</h4>
              </div>
              <div class="carousel-item quotes-row">
                <div class="quotes-text">{{ 'static-pages.innovation-lab.footer-slider-line2' | translate }}</div>
                <h4 class="quotes-author">{{ 'static-pages.innovation-lab.footer-slider-author2' | translate }}</h4>
              </div>
              <div class="carousel-item quotes-row">
                <div class="quotes-text">{{ 'static-pages.innovation-lab.footer-slider-line3' | translate }}</div>
                <h4 class="quotes-author">{{ 'static-pages.innovation-lab.footer-slider-author3' | translate }}</h4>
              </div>
              <div class="carousel-item quotes-row">
                <div class="quotes-text">{{ 'static-pages.innovation-lab.footer-slider-line4' | translate }}</div>
                <h4 class="quotes-author">{{ 'static-pages.innovation-lab.footer-slider-author4' | translate }}</h4>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#testimonial" data-slide-to="0" class="active"></li>
              <li data-target="#testimonial" data-slide-to="1"></li>
              <li data-target="#testimonial" data-slide-to="2"></li>
              <li data-target="#testimonial" data-slide-to="3"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
