@import '../../../../assets/styles/vars';
@import '../../../../assets/styles/mixins';
.countdown-component {
  color: #161616;
  margin: 0 auto;
  text-align: center;
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    @media (max-width: $screen-xs-max) {
      font-size: 1em;
      padding: 0.8em;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 1em;
      padding: 0.6em;
    }
  }

  li span {
    line-height: 1;
    display: block;
    font-size: 4.5rem;
    @media (max-width: $screen-xs-max) {
      font-size: 3rem;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 3rem;
    }
  }
}
