<div class="team_edit">
  <!-- <div class="mountain_cats">
        <h6 class="head_style">Mountain Cats <span>2/8</span></h6>
        <div class="edit_row">
            <div class="img_col">
                <img src="assets/images/virtual-challenge/avtar1.png" alt="Community">
                <div class="name_col">
                    <h4>Geof C</h4>
                    <h5>Team Captain</h5>
                </div>
            </div>
        </div>
        <div class="edit_row">
            <div class="img_col">
                <img src="assets/images/virtual-challenge/avtar3.png" alt="Community">
                <div class="name_col">
                    <h4>Jeremy B.</h4>
                    <h5>Member</h5>
                </div>
            </div>
            <button class="btn_highf"><i class="iconm-X"></i> Remove</button>
        </div>
        <div class="edit_row">
            <div class="img_col">
                <img src="assets/images/virtual-challenge/avtar4.png" alt="Team">
                <div class="name_col">
                    <h4>Ross M.</h4>
                    <h5>Member</h5>
                </div>
            </div>
            <button class="btn_highf"><i class="iconm-X"></i> Remove</button>
        </div>
        <div class="edit_row">
            <div class="img_col">
                <img src="assets/images/virtual-challenge/community_a1.png" alt="Community">
                <div class="name_col">
                    <h4>Quintin L.</h4>
                    <h5>Member</h5>
                </div>
            </div>
            <button class="btn_highf"><i class="iconm-X"></i> Remove</button>
        </div>
    </div> -->
  <div class="invite_team">
    <h6 class="head_style">{{ 'components.virtual-challenge.team-info.invite-friends' | translate }}</h6>
    <div class="form-group input_inside mb-3" *ngIf="!show.challengeOver">
      <form>
        <input
          class="form-control"
          type="text"
          name="inviteEmail"
          id="inviteEmail"
          placeholder="Enter an email to invite"
          [(ngModel)]="inviteEmail"
          (focus)="formElementEnter(inviteEmail)"
          (blur)="formElementExit(inviteEmail)"
          (ngModelChange)="checkEmailValidation(inviteEmail)"
          required
        />
        <button class="over_btn" (click)="sentInvite()" [disabled]="show.loading">
          <span class="spinner-grow spinner-grow-sm text-light" role="status" aria-hidden="true" [hidden]="!show.loading"></span>
          {{ show.loading ? 'Inviting...' : 'Invite' }}
        </button>
      </form>
    </div>
    <span class="error_msg" *ngIf="show.errorMessage">{{ show.errorMessage }}</span>
    <button class="rg_btn rg_bbtn mb-3" (click)="copyInviteLink()" *ngIf="!show.challengeOver">
      {{ 'components.virtual-challenge.team-info.copy-invite-code' | translate }}
    </button>
    <p *ngIf="show.challengeOver">{{ 'common-data.challenge-over' | translate }}</p>
  </div>
  <div class="resend_cover">
    <div class="resend_row" *ngFor="let invite of allInvitesList">
      <div class="email_col">
        {{ invite.email }}
      </div>
      <div class="btn_col">
        <button class="over_btn" (click)="resentInvite(invite.id, invite.email)">Resend</button>
      </div>
    </div>
  </div>
  <!-- <div class="team_admin">
        <h6 class="head_style">Team Admin</h6>
        <button class="rg_btn rg_bbtn mb-3" (click)="renameTeam()">Rename Team</button>
        <button class="rg_btn rg_bbtn mb-3 delete_btn">Delete Team</button>
    </div> -->
</div>
