<div class="sustainability_main">
  <section class="sustainability-banner text-center">
    <div class="container sustainability-banner-title">
      <div class="main-title mega-title text-uppercase mx-auto text-left">
        <span>{{ 'static-pages.sustainability.sustainability-title' | translate }}</span
        ><span class="d-block">{{ 'static-pages.sustainability.sustainability-title1' | translate }}</span>
      </div>
    </div>
  </section>
  <section class="intro-band text-center">
    <div>
      <p>
        {{ 'static-pages.sustainability.about-ragnar-sustainablity1' | translate }}<br />
        {{ 'static-pages.sustainability.about-ragnar-sustainablity2' | translate }}
      </p>
    </div>
  </section>
  <section class="s-plans">
    <div class="s-plans-wrapper mx-auto">
      <h2 class="text-center">{{ 'static-pages.sustainability.sustainablity-plans' | translate }}</h2>
      <div class="row s-plans-wrapper-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 content-col">
          <div class="content-col-wrapp">
            <span>{{ 'static-pages.sustainability.reduce' | translate }}</span>
            <h3>{{ 'static-pages.sustainability.carbon-offset' | translate }}</h3>
            <p>{{ 'static-pages.sustainability.sustainable-energy' | translate }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="img-fluid" src="assets/images/static-pages/sustainability/carbon_offset.jpg" alt="Carbon Offset" />
        </div>
      </div>
      <div class="row s-plans-wrapper-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="img-fluid" src="assets/images/static-pages/sustainability/bottles.jpg" alt="Carbon Offset" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 content-col">
          <div class="content-col-wrapp">
            <span
              ><span>{{ 'static-pages.sustainability.reduce' | translate }}</span></span
            >
            <h3>{{ 'static-pages.sustainability.no-more-plastic-bottles' | translate }}</h3>
            <p>{{ 'static-pages.sustainability.bottles-not-being-used' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="row s-plans-wrapper-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 content-col">
          <div class="content-col-wrapp">
            <span>{{ 'static-pages.sustainability.recycle' | translate }}</span>
            <h3>{{ 'static-pages.sustainability.recycling-events' | translate }}</h3>
            <p>{{ 'static-pages.sustainability.enough-materials' | translate }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="img-fluid" src="assets/images/static-pages/sustainability/recycling.png" alt="Carbon Offset" />
        </div>
      </div>
      <div class="row s-plans-wrapper-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="img-fluid" src="assets/images/static-pages/sustainability/bracelets.png" alt="Carbon Offset" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 content-col">
          <div class="content-col-wrapp">
            <span> {{ 'static-pages.sustainability.reuse' | translate }}</span>
            <h3>{{ 'static-pages.sustainability.trail-belts' | translate }}</h3>
            <p>{{ 'static-pages.sustainability.safety pins' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="row s-plans-wrapper-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 content-col">
          <div class="content-col-wrapp">
            <span>{{ 'static-pages.sustainability.reduce' | translate }}</span>
            <h3>{{ 'static-pages.sustainability.solar-power-trailers' | translate }}</h3>
            <p>{{ 'static-pages.sustainability.capturing-energy' | translate }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="img-fluid" src="assets/images/static-pages/sustainability/truck.png" alt="Carbon Offset" />
        </div>
      </div>
    </div>
  </section>
  <section class="intro-band text-center msg-to-raganar">
    <p>
      <strong>{{ 'static-pages.sustainability.msg-to-raganar' | translate }}</strong
      ><br />
      {{ 'static-pages.sustainability.msg-to-raganar-help' | translate }}
    </p>
  </section>
  <section class="gray-ragn">
    <div class="gray-ragn-wrapper mx-auto">
      <div class="row gray-ragn-row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center gray-ragn-col">
          <img src="assets/images/static-pages/sustainability/SizeMatters.png" alt="SizeMatters" />
          <h3>{{ 'static-pages.sustainability.with-your-help' | translate }}</h3>
          <p>{{ 'static-pages.sustainability.join-ragnar-purchasing' | translate }}</p>
          <a href="https://form.jotform.com/91814014174148" _ngcontent-xaq-c138="" class="rg_tmbtn btn_orange">{{
            'static-pages.sustainability.reduce-your-footprint' | translate
          }}</a>
        </div>
      </div>
      <div class="intro-band text-center">
        <p>
          {{ 'static-pages.sustainability.pledge-and-actions' | translate }} <br />
          {{ 'static-pages.sustainability.help-us-all-hold' | translate }}
        </p>
      </div>
      <div class="row reduce_recycle_row">
        <div class="reduce_recycle_row-inner">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 gray-ragn-col">
            <img class="img-fluid mx-auto" src="assets/images/static-pages/sustainability/Reduce.png" alt="Reduce" />
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 gray-ragn-col">
            <h3>{{ 'static-pages.sustainability.reduce' | translate }}</h3>
            <p>
              {{ 'static-pages.sustainability.minimize-waste-cutting' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row reduce_recycle_row">
        <div class="reduce_recycle_row-inner">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 gray-ragn-col">
            <img class="img-fluid mx-auto" src="assets/images/static-pages/sustainability/Recycle.png" alt="Reduce" />
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 gray-ragn-col">
            <h3>{{ 'static-pages.sustainability.recycle' | translate }}</h3>
            <p>
              {{ 'static-pages.sustainability.habit-of-recycling-everywhere' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row reduce_recycle_row">
        <div class="reduce_recycle_row-inner reduce_recycle_bottom">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 gray-ragn-col">
            <img class="img-fluid mx-auto" src="assets/images/static-pages/sustainability/Reuse.png" alt="Reduce" />
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 gray-ragn-col">
            <h3>{{ 'static-pages.sustainability.reuse' | translate }}</h3>
            <p>
              {{ 'static-pages.sustainability.creative-ways-to-repurpose-items' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
