@import 'vars';

.volunteer_contact_main {
  h3 {
    color: #f4792f;
    font-family: $font_family_barlow_Condensed;
    @include font-weight(600);
  }
  h4 {
    color: #f4792f;
    font-size: 18px;
    font-family: $font_family_barlow_Condensed;
    @include font-weight(600);
  }
  button {
    background-color: $white;
    border: 1px solid #ccc;
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
  }
  ::placeholder {
    color: #777 !important;
    opacity: 1;
    @include font-weight(400);
  }
  textarea {
    overflow: hidden;
    height: 74px !important;
  }
  .volunteer_contact_main_banner {
    background: url(/assets/images/static-pages/volunteer-contact/volunteer.jpg) 80% no-repeat;
    background-size: cover;
    height: 350px;
    padding: 150px 0 14px 90px;
    @media (max-width: $screen-xs-min) {
      padding: 150px 0 14px 30px;
    }
    .volunteer_contact_title {
      @include font-weight(700);
      font-size: 72px;
      color: $white;
      @media (max-width: $screen-xs-min) {
        font-size: $font_size_xlarge;
      }
    }
  }

  .volunteer_contact_main_contact_form {
    padding: 20px 0px;
    @media (max-width: $screen-md-max) {
      margin-left: 0;
    }
    @media (max-width: $screen-xs-max) {
      margin-left: 0;
      margin-right: 0;
    }
    .form-horizontal {
      .form-group {
        @include flexbox();

        .col-sm-9,
        .col-sm-3 {
          @media (max-width: $screen-xs-max) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: 0;
          }
        }
      }

      .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
        @include font-weight(700);
        color: $black3;
        font-size: 14px;
        text-transform: capitalize;
        @media (max-width: $screen-xs-max) {
          text-align: left;
          margin-bottom: 5px;
        }
      }
      .form-control {
        @include font-weight(400);
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: $white;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        &:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
      }
    }

    .volunteer_contact_main_contact_col {
      address {
        margin-bottom: 20px;
        @include font-weight(400);
        color: $black3;
        label {
          color: #f4792f;
          @include font-weight(700);
          line-height: 24px;
        }
      }
      .volunteer_partners {
        h4 {
          color: $black3;
          margin-bottom: 0;
        }
        p {
          line-height: 30px;
          a {
            color: #f4792f;
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
