@import 'vars';
@import 'mixins';

/******* MAIN BANNER START *******/
.main-banner {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 70px 0;
  margin-top: -92px;
  position: relative;
  z-index: 1;
  @media (max-width: $screen-sm-max) {
    margin-top: -65px;
  }
  @media (max-width: 991px) {
    margin-top: -73px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 50px 0;
    min-height: 90vh;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.49) 9%, rgba(0, 0, 0, 0) 87%);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
  }
  // .stroke-title {
  //   -webkit-text-stroke: 2.9px $white;
  //   font-size: 85px;
  //   color: transparent;
  //   text-transform: uppercase;
  //   font-family: $font_family_barlow_Condensed;
  //   letter-spacing: 1px;
  //   line-height: normal;
  //   margin: 0;
  //   @media (max-width: $screen-sm-max) {
  //     font-size: 60px;
  //   }
  //   @media (max-width: $screen-xs-max) {
  //     font-size: 46px;
  //   }
  // }
  // h2 {
  //   color: $white;
  //   font-size: 86px;
  //   text-transform: uppercase;
  //   font-family: $font_family_barlow_Condensed;
  //   letter-spacing: 1px;
  //   font-weight: 600;
  //   line-height: normal;
  //   margin: -5px 0 0 0;
  //   line-height: 1em;
  //   @media (max-width: $screen-sm-max) {
  //     font-size: 62px;
  //   }
  //   @media (max-width: $screen-xs-max) {
  //     font-size: 48px;
  //   }
  // }
  .banner-content {
    ::ng-deep {
      h1 *,
      h2 * {
        line-height: normal;
      }
    }
  }
  .theme-btn {
    margin-top: 20px;
    padding: 30px 50px;
    min-width: unset;
    display: inline-block;
    width: auto;
    font-size: 26px;
    max-width: unset;
    border: none;
    @media (max-width: $screen-sm-max) {
      padding: 24px 40px;
      font-size: 20px;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      max-width: 280px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .scroll-to-content {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    img {
      cursor: pointer;
      //animation: MoveUpDown 2s linear infinite;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      @media (max-width: $screen-xs-max) {
        max-height: 32px;
      }
    }
  }
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
/******* MAIN BANNER END *******/

/******* RACE SLIDER START *******/
::ng-deep {
  .scroll-to {
    margin-bottom: 90px;
  }
  .home-race-slider {
    padding: 60px 0 70px 0;
    margin-top: -60px;
    @media (max-width: $screen-xxs-max) {
      .race-slider-wrapper {
        padding: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 40px;
    }
    .item-wrapper {
      padding: 0 18px;
      @media (max-width: $screen-xxs-max) {
        padding: 0 10px;
      }
    }
    .slide-count {
      font-size: 42px;
      color: $black;
      margin: 30px auto 0;
      max-width: 120px;
      text-align: center;
      line-height: normal;
      font-family: $font_family_lato;
      span {
        color: $orange-brand;
        font-size: 62px;
        font-weight: 700;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 32px;
        span {
          font-size: 52px;
        }
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 20px;
        font-size: 21px;
        span {
          font-size: 34px;
        }
      }
    }
    ::ng-deep {
      .slick-arrow {
        position: absolute;
        bottom: 0;
        top: auto;
        left: 50%;
        right: auto;
        margin: 0 auto;
        transform: none;
        font-size: 0;
        height: auto;
        width: auto;
        &:before {
          content: '';
          position: absolute;
          width: 74px;
          height: 24px;
          top: 65px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          filter: brightness(0);
          @media (max-width: $screen-sm-max) {
            width: 64px;
            height: 14px;
          }
          @media (max-width: $screen-xs-max) {
            width: 47px;
            top: 38px;
          }
        }
        &.slick-next {
          &:before {
            background-image: url(/assets/images/home/arrow-long-right.svg);
            left: 50px;
          }
        }
        &.slick-prev {
          &:before {
            background-image: url(/assets/images/home/arrow-long-left.svg);
            right: 50px;
          }
        }
      }
    }
    .race-head {
      font-size: 38px;
      font-weight: 600;
      font-family: $font_family_barlow_Condensed;
      margin: 0 0 15px 0;
      display: inline-block;
      line-height: normal;
      letter-spacing: normal;
      @media (max-width: $screen-sm-max) {
        font-size: 30px;
      }
    }
    .race-detail {
      position: relative;
      .detail-wrapper {
        background: rgba(0, 62, 81, 0.84);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .content {
        // color: $white;
        // width: 100%;
        padding: 10px 15px 10px 15px;
        width: 100%;
        // font-size: 20px;
        // line-height: 1.6;
        // @media (max-width: $screen-sm-max) {
        //   font-size: 16px;
        // }
        .content-inner {
          position: relative;
          max-height: 300px;
          overflow: auto;
          -ms-overflow-style: auto;
          scrollbar-color: #003e51 transparent;
          scrollbar-width: thin;
          &::-webkit-scrollbar-thumb {
            background-color: #003e51;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-corner {
            background-color: transparent;
          }
          &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
      .content-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
      .race-title {
        color: $white;
        width: calc(100% - 72px);
        padding: 10px 15px 15px 15px;
        font-size: 32px;
        font-family: $font_family_lato;
        font-weight: 400;
        margin: 0;
        @media (max-width: $screen-sm-max) {
          font-size: 25px;
          width: calc(100% - 45px);
          padding: 8px 15px 8px 15px;
        }
      }
      .more-btn {
        height: 72px;
        width: 72px;
        background: $orange-brand;
        display: flex;
        border-top-left-radius: 10px;
        align-items: center;
        justify-content: center;
        @media (max-width: $screen-sm-max) {
          height: 48px;
          width: 45px;
        }
        img {
          max-width: 26px;
          @media (max-width: $screen-sm-max) {
            max-width: 18px;
          }
        }
      }
    }
  }
}
/******* RACE SLIDER END *******/
