<div class="safety-road_main">
  <section class="safety-road-banner text-left">
    <div class="container safety-road-banner-title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.safety.safety-title' | translate }}</div>
    </div>
  </section>
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 main-content-col">
          <p>{{ 'static-pages.safety.about-safety-line1' | translate }}</p>
          <p>
            {{ 'static-pages.safety.about-safety-line2' | translate }}
          </p>
          <div class="safety-rules-text">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.safety-rules' | translate }}</h3>
            <p>{{ 'static-pages.safety.about-safety-rules' | translate }}</p>
          </div>
          <div class="safety-briefing-text">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.safety-briefing' | translate }}</h3>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <p>
                  {{ 'static-pages.safety.about-safety-briefing-line1' | translate }}
                  <a href="https://www.youtube.com/watch?v=L32cnqFV8dU" target="_blank">
                    {{ 'static-pages.safety.about-safety-briefing-line2' | translate }}</a
                  >
                  {{ 'static-pages.safety.about-safety-briefing-line3' | translate }}
                  <a href="https://www.youtube.com/watch?v=L32cnqFV8dU" target="_blank">{{
                    'static-pages.safety.about-safety-briefing-line4' | translate
                  }}</a>
                  {{ 'static-pages.safety.about-safety-briefing-line5' | translate }}
                  <a href="https://www.youtube.com/watch?v=L32cnqFV8dU" target="_blank">{{
                    'static-pages.safety.about-safety-briefing-line6' | translate
                  }}</a>
                  {{ 'static-pages.safety.about-safety-briefing-line7' | translate }}
                </p>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <iframe
                  width="100%"
                  src="https://www.youtube.com/embed/L32cnqFV8dU"
                  frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen=""
                ></iframe>
              </div>
            </div>
          </div>
          <div class="night-time-gear">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.night-time-gear' | translate }}</h3>
            <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                <p>
                  {{ 'static-pages.safety.about-night-time-gear-line1' | translate }}
                </p>
                <p>
                  {{ 'static-pages.safety.about-night-time-gear-line2' | translate }}
                </p>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <a href="https://www.nathansports.com/" title="Road Safety">
                  <img class="img-fluid" src="assets/images/static-pages/safety-road/safety.png" alt="" />
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="https://www.nathansports.com/" title="Road Safety"
                  ><img class="img-fluid" src="assets/images/static-pages/safety-road/vests.png" alt=""
                /></a>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="https://www.nathansports.com/" title="Road Safety">
                  <img class="img-fluid" src="assets/images/static-pages/safety-road/approved.png" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="crossing-flags">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.crossing-flags' | translate }}</h3>
            <p>
              {{ 'static-pages.safety.about-crossing-flags' | translate }}
            </p>
          </div>
          <div class="no-van-support-leg">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.no-van-support-legs' | translate }}S</h3>
            <p>
              {{ 'static-pages.safety.about-no-van-support-legs' | translate }}
            </p>
          </div>
          <div class="partial-no-van-support-leg">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.partial-no-van-support-legs' | translate }}</h3>
            <p>
              {{ 'static-pages.safety.about-partial-no-van-support-legs' | translate }}
            </p>
          </div>
          <div class="safety-officer">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.safety-officer' | translate }}</h3>
            <p>
              {{ 'static-pages.safety.about-safety-officer' | translate }}
            </p>
          </div>
          <div class="medic-station">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.medic-stations' | translate }}</h3>
            <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                <p>
                  {{ 'static-pages.safety.about-medic-stations' | translate }}
                </p>
              </div>

              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <a href="https://www.nathansports.com/" title="Road Safety"
                  ><img class="img-fluid" src="assets/images/static-pages/safety-road/firstaid.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="communication">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.communication' | translate }}</h3>
            <p>
              {{ 'static-pages.safety.about-communication' | translate }}
            </p>
          </div>
          <div class="running-in-hit">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.running-in-the-heat' | translate }}</h3>
            <div class="row">
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <p>
                  {{ 'static-pages.safety.about-running-in-the-heat' | translate }}
                </p>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <a href="https://www.nathansports.com/" title="Road Safety"
                  ><img class="img-responsive" src="assets/images/static-pages/safety-road/nathan.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="communication">
            <h3 class="ragnar-ambassdors">{{ 'static-pages.safety.other-tips-for-runners' | translate }}</h3>
            <p>
              {{ 'static-pages.safety.about-other-tips-for-runners-line1' | translate }}
            </p>
            <p>
              {{ 'static-pages.safety.about-other-tips-for-runners-line2' | translate }}
            </p>
            <ol>
              <li>{{ 'static-pages.safety.about-other-tips-for-runners-requirement1' | translate }}</li>
              <li>{{ 'static-pages.safety.about-other-tips-for-runners-requirement2' | translate }}</li>
              <li>{{ 'static-pages.safety.about-other-tips-for-runners-requirement3' | translate }}</li>
            </ol>
            <p class="safe-use-text">{{ 'static-pages.safety.safe-use-tactics' | translate }}</p>
            <ul>
              <li>{{ 'static-pages.safety.about-safe-use-tactics-line1' | translate }}</li>
              <li>{{ 'static-pages.safety.about-safe-use-tactics-line2' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 next-steps">
          <h2>{{ 'common-data.next-steps' | translate }}</h2>
          <div class="separator"></div>
          <ul class="text-left">
            <li>
              <a href="http://www.facebook.com/TheRagnarRelaySeries?fref=ts" target="_blank">{{
                'static-pages.safety.check-out-facebook-page' | translate
              }}</a>
            </li>
            <li>
              <a routerLink="/{{ headerRoutes.exploreMap }}">{{ 'static-pages.safety.see-our-events' | translate }}</a>
            </li>
            <li>
              <a href="http://www.ragnargear.com/race-essentials-safety-led-lights" target="_blank">{{
                'static-pages.safety.safety-gear' | translate
              }}</a>
            </li>
          </ul>
          <div class="separator"></div>
          <div class="nathanad">
            <a href="https://www.nathansports.com/visibility" target="_blank">
              <img src="assets/images/static-pages/safety-road/ROADsafetyPAGEad.png" class="img-fluid mx-auto" alt="Nathan Sports"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
