@import 'vars';

.bg-virtual-challenge-register {
  width: 100%;
  background: url('https://s3-us-west-2.amazonaws.com/ragnar-hub-ui-v2/images/reg-bg-trail.bc4e6617.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  padding: 100px 20px;
  @media (max-width: $screen-xs-max) {
    padding: 40px 20px;
  }
  .payment {
    max-width: 1250px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 24px;
    width: 100%;
    border-radius: 4px;
    .form-group {
      .form-control {
        background-color: transparent;
      }
    }
  }
  hr {
    margin: 25px 0;
    @media (max-width: $screen-xs-max) {
      margin: 10px 0 20px;
      display: none;
    }
  }
}
.event_info {
  .event_list {
    .row {
      margin: 0 !important;
      .col_value {
        padding: 10px 15px;
        @media (max-width: $screen-xs-max) {
          padding: 10px 0;
        }
        &.text-sm-left {
          padding: 10px 5px;
        }
        strong {
          display: block;
          @media (min-width: $screen-xs-max) {
            display: none;
          }
        }
      }
    }
    hr {
      margin: 14px 0;
    }
  }
}
.card_info {
  margin: 50px auto 0;
  max-width: 600px;
  .card_number {
    position: relative;
    .card_icon {
      position: absolute;
      top: 30px;
      right: 10px;
      @media (max-width: $screen-xs-max) {
        top: 33px;
      }
      img {
        max-width: 30px;
        max-height: 30px;
        margin-left: 5px;
        @media (max-width: $screen-xs-max) {
          max-width: 20px;
          margin-left: 3px;
        }
      }
    }
  }
  .custom-control {
    margin: 20px 0;
    .error_msg {
      display: block;
    }
    label {
      display: inline-block;
      vertical-align: middle;
    }
    a {
      display: inline-block;
      font-weight: bold;
      vertical-align: middle;
      margin-left: 4px;
      text-decoration: underline;
    }
  }
}

.text-right {
  text-align: right;
}

a {
  color: #000;
  cursor: pointer;
}
