<div class="how_work">
  <div class="work_banner">
    <div class="container">
      <div class="work_content">
        <h1>{{ 'virtual-challenge.how-it-works.how-works' | translate }}</h1>
        <p>
          {{ 'virtual-challenge.how-it-works.how-works-p1' | translate }}
        </p>
        <a routerLink="/{{ routes.main }}/{{ routes.home }}" class="rg_btn">{{ 'common-data.find-challenge' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="gray_band">
    <img class="d-md-none" src="assets/images/virtual-challenge/challenges_work.png" alt="Chalenges" />
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong>{{ 'virtual-challenge.how-it-works.event-challenges' | translate }}</strong>
            {{ 'virtual-challenge.how-it-works.event-challenges-p1' | translate }}
          </p>
        </div>
        <div class="col-md-6 light_gray">
          <p>
            <strong>{{ 'virtual-challenge.how-it-works.team-challenges' | translate }}</strong>
            {{ 'virtual-challenge.how-it-works.team-challenges-p1' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="rule_wrapper">
    <div class="container">
      <div class="role_title">
        <h5>{{ 'virtual-challenge.how-it-works.details' | translate }}</h5>
        <h2>{{ 'virtual-challenge.how-it-works.virtual-challenges' | translate }}</h2>
      </div>
      <div class="rule_block">
        <div class="rule_img">
          <img src="assets/images/virtual-challenge/rule_img.jpg" alt="Rules" />
        </div>
        <div class="role_title">
          <h4><span>1</span>{{ 'virtual-challenge.how-it-works.choose-challenges' | translate }}</h4>
          <p>
            {{ 'virtual-challenge.how-it-works.choose-challenges-p1' | translate }}
          </p>
        </div>
      </div>
      <div class="rule_block">
        <div class="rule_img">
          <img src="assets/images/virtual-challenge/rule_img.jpg" alt="Rules" />
        </div>
        <div class="role_title">
          <h4><span>2</span>{{ 'virtual-challenge.how-it-works.invite-team' | translate }}</h4>
          <p>
            {{ 'virtual-challenge.how-it-works.invite-team-p1' | translate }}
          </p>
          <p>{{ 'virtual-challenge.how-it-works.invite-team-p2' | translate }}</p>
          <p>{{ 'virtual-challenge.how-it-works.invite-team-p3' | translate }}</p>
        </div>
      </div>
      <div class="rule_block">
        <div class="rule_img">
          <img src="assets/images/virtual-challenge/rule_img.jpg" alt="Rules" />
        </div>
        <div class="role_title">
          <h4><span>3</span>{{ 'virtual-challenge.how-it-works.run' | translate }}</h4>
          <p>
            {{ 'virtual-challenge.how-it-works.run-p1' | translate }}
          </p>
          <p>
            {{ 'virtual-challenge.how-it-works.run-p2' | translate }}
            <strong>{{ 'virtual-challenge.how-it-works.run-p3' | translate }}</strong>
            {{ 'virtual-challenge.how-it-works.run-p4' | translate }}
          </p>
          <p>
            {{ 'virtual-challenge.how-it-works.run-p5' | translate }}
            <strong> {{ 'virtual-challenge.how-it-works.run-p6' | translate }}</strong>
            {{ 'virtual-challenge.how-it-works.run-p7' | translate }}
          </p>
        </div>
      </div>
      <div class="rule_block">
        <div class="rule_img">
          <img src="assets/images/virtual-challenge/rule_img.jpg" alt="Rules" />
        </div>
        <div class="role_title">
          <h4><span>4</span>{{ 'virtual-challenge.how-it-works.party' | translate }}</h4>
          <p>{{ 'virtual-challenge.how-it-works.party-p1' | translate }}</p>
          <p>
            {{ 'virtual-challenge.how-it-works.party-p2' | translate }}
            <strong>{{ 'virtual-challenge.how-it-works.run-p3' | translate }}</strong>
            {{ 'virtual-challenge.how-it-works.and' | translate }}
            <strong>{{ 'virtual-challenge.how-it-works.run-p6' | translate }}</strong>
            {{ 'virtual-challenge.how-it-works.party-p3' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="ready_band">
      <div class="small_container">
        <h2 class="mb-3">{{ 'virtual-challenge.how-it-works.ready' | translate }}</h2>
        <p>
          {{ 'virtual-challenge.how-it-works.ready-p1' | translate }}
        </p>
        <button class="rg_btn mb-3" routerLink="/{{ routes.main }}/{{ routes.home }}">
          {{ 'common-data.find-challenge' | translate }}
        </button>
        <!-- <button class="rg_btn rg_bbtn mb-3">{{ 'virtual-challenge.how-it-works.get-help' | translate }}</button> -->
      </div>
    </div>
  </div>
</div>
