<div class="termof_use_main">
  <section class="termof_use_banner text-left">
    <div class="container termof_use_title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.terms-of-use.title' | translate }}</div>
    </div>
  </section>
  <section class="termof_use_main-content_section">
    <div class="container">
      <div class="termof_use_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.terms-of-use.sub-title' | translate }}</h3>
        <p class="mb-10">
          {{ 'static-pages.terms-of-use.about-terms-of-use' | translate }}
        </p>
        <ul>
          <li>
            {{ 'static-pages.terms-of-use.about-terms-of-use-line1' | translate }}
          </li>
          <li>
            {{ 'static-pages.terms-of-use.about-terms-of-use-line2' | translate }}
          </li>
          <li>
            {{ 'static-pages.terms-of-use.about-terms-of-use-line3' | translate }}
          </li>
          <li>
            {{ 'static-pages.terms-of-use.about-terms-of-use-line4' | translate }}
          </li>
          <li>
            {{ 'static-pages.terms-of-use.about-terms-of-use-line5' | translate }}
          </li>
          <li>{{ 'static-pages.terms-of-use.about-terms-of-use-line6' | translate }}</li>
          <li>
            {{ 'static-pages.terms-of-use.about-terms-of-use-line7' | translate }}
          </li>
        </ul>
        <p>{{ 'static-pages.terms-of-use.no-responsibility' | translate }}</p>
        <ul>
          <li>{{ 'static-pages.terms-of-use.not-create-link-to-website' | translate }}</li>
          <li>
            {{ 'static-pages.terms-of-use.dispute-arising' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
