<div class="divisions-and-classifications_main">
  <section class="divisions-banner">
    <div class="divisions-banner-title">
      <div class="main-title mega-title">{{ 'static-pages.teams-and-divisions.title' | translate }}</div>
    </div>
  </section>
  <section class="main-content">
    <div class="container">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 divisions-main-content-col">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.teams-and-divisions.sub-title' | translate }}</h3>
        <p>
          {{ 'static-pages.teams-and-divisions.about-teams-and-divisions' | translate }}
        </p>
        <table class="table table-bordered border">
          <thead>
            <tr class="bg-table-orange">
              <th colspan="3" class="text-center">{{ 'static-pages.teams-and-divisions.ragnar-relays' | translate }}</th>
            </tr>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.classification' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.regular' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.ultra' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.7-12 men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.4-6 men' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-women' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.mixed' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.6-or-more-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.3-or-more-women' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered border">
          <thead>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.division' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.requirement' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.open' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.under-40-years' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.masters' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-masters' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.corporate' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-corporate' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.military' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-military' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.high-school' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-high-school' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.wildcard' | translate }}</td>
              <td>
                {{ 'static-pages.teams-and-divisions.about-wildcard' | translate }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="no-subscrition-text">
          {{ 'static-pages.teams-and-divisions.ragnar-relay-note' | translate }}
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 divisions-main-content-col">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.teams-and-divisions.trail-divisions' | translate }}</h3>
        <p>
          {{ 'static-pages.teams-and-divisions.about-ragnar-trail' | translate }}
        </p>
        <table class="table table-bordered border">
          <thead>
            <tr class="bg-table-orange">
              <th colspan="3" class="text-center">{{ 'static-pages.teams-and-divisions.trail-relays' | translate }}</th>
            </tr>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.classification' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.regular-8-runners' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.ultra-4-runners' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.5-8-men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.3-4-men' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-women' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.mixed' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.4-or-more-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.2-or-more-women' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered border">
          <thead>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.division' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.requirement' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.open' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.under-40-years' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.masters' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-masters' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.corporate' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.corporate-trail' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.military' | translate }}</td>
              <td>
                {{ 'static-pages.teams-and-divisions.military-trail' | translate }}
              </td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.high-school' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-high-school' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.wildcard' | translate }}</td>
              <td>
                {{ 'static-pages.teams-and-divisions.about-wildcard' | translate }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="no-subscrition-text">
          {{ 'static-pages.teams-and-divisions.ragnar-relay-note' | translate }}
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 divisions-main-content-col">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.teams-and-divisions.ragnar-sprint' | translate }}</h3>
        <p>
          {{ 'static-pages.teams-and-divisions.about-ragnar-sprint' | translate }}
        </p>
        <table class="table table-bordered border">
          <thead>
            <tr class="bg-table-orange">
              <th colspan="3" class="text-center">{{ 'static-pages.teams-and-divisions.sprint-series' | translate }}</th>
            </tr>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.classification' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.regular-6-runners' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.ultra-3-runners' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.4-6-men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-men' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.all-women' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.mixed' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.3-or-more-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.any-mix-of-men/women' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered border">
          <thead>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.division' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.requirement' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.open' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.under-40-years' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.masters' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-masters' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.corporate' | translate }}*</td>
              <td>{{ 'static-pages.teams-and-divisions.about-corporate' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.military' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-military' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.high-school' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-high-school' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.wildcard' | translate }}</td>
              <td>
                {{ 'static-pages.teams-and-divisions.about-wildcard' | translate }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="no-subscrition-text">
          {{ 'static-pages.teams-and-divisions.ragnar-relay-note' | translate }}
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 divisions-main-content-col">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.teams-and-divisions.ragnar-sunset' | translate }}</h3>
        <p>
          {{ 'static-pages.teams-and-divisions.about-ragnar-sunset' | translate }}
        </p>
        <table class="table table-bordered border">
          <thead>
            <tr class="bg-table-orange">
              <th colspan="3" class="text-center">{{ 'static-pages.teams-and-divisions.sunset-series' | translate }}</th>
            </tr>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.classification' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.regular-4-runners' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.ultra-2-runners' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.3-4 men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.2-men' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.4-women' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.2-women' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.mixed' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.1-or-2-men' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.1-man-1-women' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered border">
          <thead>
            <tr class="active">
              <th>{{ 'static-pages.teams-and-divisions.division' | translate }}</th>
              <th>{{ 'static-pages.teams-and-divisions.requirement' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.open' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.under-40-years' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'static-pages.teams-and-divisions.masters' | translate }}</td>
              <td>{{ 'static-pages.teams-and-divisions.about-masters' | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
