<div class="reset_page">
  <div class="reset_cover">
    <h2 id="title" class="title">{{ 'auth.reset-password.reset-password1' | translate }}</h2>
    <p class="sub-title">{{ 'auth.reset-password.set-new-password' | translate }}</p>

    <form #resetPassForm="ngForm" aria-labelledby="title">
      <div class="form-group" [ngClass]="{ error_input: (resetPassForm.submitted && password.errors?.required) || show.passwordError }">
        <label for="password">{{ 'common-data.password' | translate }}</label>
        <input
          class="form-control"
          minlength="8"
          type="password"
          id="input-password"
          name="password"
          placeholder="Password"
          [(ngModel)]="resetpassword"
          required
          #password="ngModel"
        />
        <ng-container *ngIf="resetPassForm.submitted || show.passwordError">
          <span class="error_msg" *ngIf="password.errors?.required"> {{ 'common-data.password-required' | translate }} </span>
          <span class="error_msg" *ngIf="!resetPassForm.invalid && show.passwordError">
            {{ 'common-data.password-required' | translate }}
          </span>
        </ng-container>
      </div>

      <span class="error_msg" *ngIf="show.accountError"> {{ show.accountError }} </span>

      <button class="rg_btn" (click)="submitResetPassword(resetpassword)" [disabled]="resetPassForm.invalid || show.loading">
        <span class="spinner-grow spinner-grow-sm text-dark" role="status" aria-hidden="true" [hidden]="!show.loading"></span>
        {{ 'auth.reset-password.reset-password1' | translate }}
      </button>
    </form>
  </div>
</div>
