@import 'vars';
.reset_page {
  width: 100%;
  background: url('https://s3-us-west-2.amazonaws.com/ragnar-hub-ui-v2/images/reg-bg-trail.bc4e6617.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  padding: 100px 0;
  @media (max-width: $screen-xs-max) {
    padding: 40px 20px;
  }
  .reset_cover {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 24px;
    max-width: 475px;
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    p {
      a {
        &:hover {
          color: #000000;
        }
      }
    }
    form {
      padding-top: 15px;
      .form-group {
        .form-control {
          background-color: transparent;
        }
        label {
          margin-bottom: 4px;
        }
      }
      .rg_btn {
        margin-top: 20px;
        max-width: 100%;
      }
    }
  }
}
