<div class="love-the-locals_main">
  <section class="love-the-locals-banner">
    <div class="love-the-locals-banner-title">
      <div class="main-title mega-title">{{ 'static-pages.love-the-locals.title' | translate }}</div>
    </div>
  </section>
  <section class="love-the-locals-content">
    <div class="container">
      <div class="love-the-local-campaign">
        <br />
        <img class="img-fluid orange-line mx-auto" src="assets/images/static-pages/love-the-locals/orange-line.png" alt="" />
        <h2 class="text-center fftitle mb-0">{{ 'static-pages.love-the-locals.love-the-local-campaign' | translate }}</h2>
        <img class="img-fluid orange-line mx-auto" src="assets/images/static-pages/love-the-locals/orange-line.png" alt="" />
        <br />
        <p class="text-center fs18pt">
          {{ 'static-pages.love-the-locals.about-love-the-local' | translate }}
        </p>
        <br />
        <img class="img-fluid lovethe-heart mx-auto" src="assets/images/static-pages/love-the-locals/separator.png" alt="" />
        <br /><br />
        <div class="embed-responsive embed-responsive-16by9 corporate-video">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/178089871"></iframe>
        </div>
      </div>
    </div>
  </section>
  <section class="corporate-content">
    <div class="corporate-ds-lb-white-dark"></div>
    <div class="corporate-bg-dark love-the-locals-content">
      <div class="container">
        <div class="love-the-local-campaign">
          <img class="img-fluid orange-line mx-auto" src="assets/images/static-pages/love-the-locals/orange-line.png" alt="" />
          <h2 class="text-center fftitle">{{ 'static-pages.love-the-locals.respect-101' | translate }}</h2>
          <img class="img-fluid orange-line mx-auto" src="assets/images/static-pages/love-the-locals/orange-line.png" alt="" />
        </div>
        <div class="row respect-content">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 respect-content-col">
            <p>
              {{ 'static-pages.love-the-locals.about-respect1-101' | translate }}
            </p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 respect-content-col">
            <p>
              {{ 'static-pages.love-the-locals.about-respect2-101' | translate }}
            </p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 respect-content-col">
            <p>
              {{ 'static-pages.love-the-locals.about-respect3-101' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="corporate-ds-lb-dark-orange"></div>
    <div class="bg-orange">
      <div class="container">
        <div class="ltl-item text-white">
          <div class="ltl-item-title">
            <h3 class="fftitle">{{ 'static-pages.love-the-locals.vans-blocking-flow-of-traffic' | translate }}</h3>
          </div>
          <div class="ltl-item-body orange">
            <p class="fs14to16pt">
              {{ 'static-pages.love-the-locals.don’t-shadow-your-runner' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="corporate-ds-br-orange-white"></div>
    <div class="bg-white-bkg">
      <div class="container">
        <div class="ltl-item text-white">
          <div class="ltl-item-title">
            <h3 class="fftitle">{{ 'static-pages.love-the-locals.noncompliance-to-speed-limit' | translate }}</h3>
          </div>
          <div class="ltl-item-body white">
            <p class="fs14to16pt">
              {{ 'static-pages.love-the-locals.finish-your-ragnar-experience' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 corporate-ds-lb-white-orange"></div>
    <div class="bg-orange">
      <div class="container">
        <div class="ltl-item text-white">
          <div class="ltl-item-title">
            <h3 class="fftitle">
              {{ 'static-pages.love-the-locals.disrespecting-other-people’s-property' | translate }}
            </h3>
          </div>
          <div class="ltl-item-body">
            <p class="fs14to16pt ltl-item-body-margin">
              {{ 'static-pages.love-the-locals.designated-parking-areas' | translate }}
            </p>
            <p class="ltl-item-body-margin">
              {{ 'static-pages.love-the-locals.designated-parking-areas-line1' | translate }}
            </p>
            <p class="ltl-item-body-margin">
              {{ 'static-pages.love-the-locals.designated-parking-areas-line2' | translate }}
            </p>
            <p class="ltl-item-body-margin">
              {{ 'static-pages.love-the-locals.designated-parking-areas-line3' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 corporate-ds-br-orange-white"></div>
    <div class="bg-white-bkg">
      <div class="container">
        <div class="ltl-item text-white">
          <div class="ltl-item-title">
            <h3 class="fftitle">{{ 'static-pages.love-the-locals.noise-in-quiet-areas' | translate }}</h3>
          </div>
          <div class="ltl-item-body white">
            <p class="fs14to16pt">
              {{ 'static-pages.love-the-locals.noise-in-quiet-areas-description' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 corporate-ds-lb-white-orange"></div>
    <div class="bg-orange">
      <div class="container">
        <div class="ltl-item text-white">
          <div class="ltl-item-title">
            <h3 class="fftitle">
              {{ 'static-pages.love-the-locals.noncompliance-with-traffic-pedestrian-laws' | translate }}
            </h3>
          </div>
          <div class="ltl-item-body orange">
            <p class="fs14to16pt">
              {{ 'static-pages.love-the-locals.noncompliance-with-traffic-pedestrian-laws-description' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 corporate-ds-br-orange-white"></div>
  </section>
  <aside class="love-the-locals-aside">
    <div class="container">
      <div class="row love-the-locals-aside-first-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 love-the-locals-aside-col">
          <img class="img-fluid ltl-logo mx-auto d-block" src="assets/images/static-pages/love-the-locals/ltl-logo.png" alt="" />
          <div class="ltl-logo-text">
            <p class="font-medium text-justify fs14to16pt">
              {{ 'static-pages.love-the-locals.end-of-the-day' | translate }}
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 love-the-locals-aside-col">
          <img class="img-fluid ltl-image" src="assets/images/static-pages/love-the-locals/love-img.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row love-the-locals-aside-second-row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 corporate-ds-transparent"></div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 corporate-ds-br-white-dark-light-short"></div>
    </div>
    <div class="row love-the-locals-aside-third-row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 corporate-ds-br-white-dark-short"></div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 corporate-ds-dark-light"></div>
    </div>
    <div class="row love-the-locals-aside-fourth-row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ltl-bottom ltl-bottom-1">
        <h3 class="fftitle">{{ 'static-pages.love-the-locals.about-ragnar-relays' | translate }}</h3>
        <p class="fs14to16pt">
          {{ 'static-pages.love-the-locals.about-love-the-locals' | translate }}
        </p>
        <div class="ltl-signup">
          <form #form action="https://services.ascentcrm.com/remotesurvey.asmx/ProcessForm" class="">
            <input type="hidden" name="survey" value="282" /> <input type="hidden" name="survey_version" value="1552" />
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-wrappper">
                  <input
                    [(ngModel)]="email"
                    type="email"
                    class="form-control ltl-signup-input"
                    id="email"
                    name="email"
                    placeholder="Email address"
                    aria-invalid="false"
                    (focus)="formElementEnter({ email: email })"
                    (blur)="formElementExit({ email: email })"
                  />
                  <span class="input-group-btn">
                    <button [disabled]="!email" type="button" (click)="form.submit()" class="btn btn-orange ltl-signup-btn" value="Submit">
                      {{ 'static-pages.love-the-locals.find-out-more' | translate }}
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ltl-bottom ltl-bottom-2">
        <h3 class="fftitle">{{ 'static-pages.love-the-locals.find-your-ragnar' | translate }}</h3>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <p class="tiny-text">
              {{ 'static-pages.love-the-locals.us' | translate }} &amp; {{ 'static-pages.love-the-locals.canada' | translate }}
            </p>
            <a routerLink="/{{ headerRoutes.exploreMap }}">
              <img class="img-fluid usa-img" src="assets/images/static-pages/love-the-locals/usa.png" alt="" />
            </a>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <p class="tiny-text">{{ 'static-pages.love-the-locals.uk' | translate }}</p>
            <a href="https://www.runragnar.com/map?location=UK" target="_blank">
              <img class="img-fluid uk-img" src="assets/images/static-pages/love-the-locals/uk.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
