<div class="ambassadors_main">
  <section class="ambassadors-banner">
    <div class="ambassadors-banner-title">
      <div class="main-title mega-title">{{ 'static-pages.ambassador.main-title' | translate }}</div>
    </div>
  </section>
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 main-content-col">
          <p>
            {{ 'static-pages.ambassador.main-content' | translate }}
          </p>

          <p class="ifyou-text">
            {{ 'static-pages.ambassador.if-you' | translate }}
          </p>
          <hr class="border-0" />
          <h3 class="ragnar-ambassdors">{{ 'static-pages.ambassador.ragnar-ambassdors' | translate }}</h3>
          <p>
            {{ 'static-pages.ambassador.ragnar-ambassdors-p' | translate }}
          </p>
          <hr class="border-0" />
          <p>
            {{ 'static-pages.ambassador.ragnar-ambassdors-p-0' | translate }}
            <a routerLink="/{{ headerRoutes.ambassadorsForm }}">{{ 'static-pages.ambassador.ragnar-ambassdors-p-a' | translate }}</a>
            {{ 'static-pages.ambassador.ragnar-ambassdors-p-1' | translate }}
          </p>
          <img class="img-fluid thumbnail" src="assets/images/static-pages/ambassadors/ragnar-cookies.jpg" alt="" />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 thumbs-container">
          <img class="img-fluid thumbnail mt-1" src="assets/images/static-pages/ambassadors/photo1.jpg" alt="" />
          <img class="img-fluid thumbnail" src="assets/images/static-pages/ambassadors/photo2.jpg" alt="" />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 next-steps">
          <h2>{{ 'common-data.next-steps' | translate }}</h2>
          <div class="separator"></div>
          <ul class="text-left">
            <li>
              <a href="http://www.facebook.com/TheRagnarRelaySeries?fref=ts" target="_blank">{{
                'static-pages.ambassador.join-the-nation-on-facebook' | translate
              }}</a>
            </li>
          </ul>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </section>
</div>
