@import './vars';

body.overflow-hidden {
  overflow: hidden;
}

.days-challenge {
  .dashboard-banner {
    background: $navy;
    padding: 40px 0;

    @media (max-width: $screen-mds-max) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .container {
      max-width: 1250px !important;
    }

    .row {
      align-items: center;
    }

    .logo-wrapper {
      @media (max-width: $screen-mds-max) {
        margin-bottom: 20px;
      }

      @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
      }

      img {
        max-width: 340px;
        width: 100%;

        @media (max-width: $screen-mds-max) {
          max-height: 130px;
          max-width: unset;
          width: auto;
          margin: 0 auto;
          display: block;
        }

        @media (max-width: $screen-xs-max) {
          max-height: unset;
          max-width: 340px;
          margin: 0 auto;
          display: block;
          width: 100%;
        }
      }
    }

    .text-wrapper {
      text-align: center;
      max-width: 260px;
      width: 100%;

      @media (max-width: $screen-mds-max) {
        max-width: 100%;
        margin-bottom: 20px;
      }

      @media (max-width: $screen-xs-max) {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .main-title {
        color: #fff;
        font-size: 32px;
        margin-bottom: 30px;

        @media (max-width: $screen-md-max) {
          font-size: 30px;
        }

        @media (max-width: $screen-mds-max) {
          margin-bottom: 10px;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 27px;
        }
      }

      .sub-title {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }

    .right-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $screen-xxs-max) {
        flex-direction: column;
      }

      ul {
        display: flex;
        width: calc(50% - 10px);
        flex-direction: column;

        @media (max-width: $screen-xxs-max) {
          width: 100%;
        }

        &:last-child {
          @media (max-width: $screen-xxs-max) {
            li {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        li {
          // padding: 0 12px;
          margin-bottom: 25px;
          width: 100%;

          .rg_btn {
            min-width: unset;
            color: $navy;
            font-size: 16px;
            border: none;
            width: 100%;
            max-width: unset;
            border-radius: 5px;

            @media (max-width: $screen-xxs-max) {
              max-width: 235px;
              margin: 0 auto;
            }
          }
        }
      }
    }

    &.after-registration {
      max-width: 100%;
      text-align: left;
      position: relative;

      .row {
        justify-content: space-between;
      }

      .left-col,
      .mid-col,
      .right-col {
        flex: 0 0 100%;
        width: 100%;

        @media (max-width: $screen-xxs-max) {
          max-width: 100% !important;
        }
      }

      .left-col {
        max-width: 300px;
      }

      .mid-col {
        max-width: 210px;
      }

      .right-col {
        max-width: 280px;

        @media (max-width: $screen-mds-max) {
          max-width: 100%;
          margin-top: 50px;
        }
      }

      .title {
        margin-bottom: 40px;
      }

      .text-wrapper {
        text-align: left;
        max-width: 100%;
        margin-bottom: 0;

        @media (max-width: $screen-md-max) {
          margin-top: 20px;
        }

        @media (max-width: $screen-xxs-max) {
          text-align: center;
          margin-bottom: 30px;
          margin-top: 10px;
        }

        .main-title {
          font-size: 35px;
          margin-bottom: 5px;

          @media (max-width: $screen-md-max) {
            font-size: 30px;
          }

          @media (max-width: $screen-xxs-max) {
            font-size: 22px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .sub-title {
          font-size: 20px;
          font-weight: 400;

          @media (max-width: $screen-xxs-max) {
            font-size: 16px;
          }
        }
      }

      .calendar-title {
        @media (max-width: $screen-xxs-max) {
          display: none;
        }

        span {
          color: #fff;
          font-size: 16px;
          margin-left: 10px;
        }
      }

      .right-col {
        ul {
          li {
            width: 100%;
            margin: 0;

            .rg_btn {
              max-width: 230px;
              min-width: unset;

              @media (max-width: $screen-md-max) {
                max-width: 100%;
                width: 1000%;
              }

              @media (max-width: $screen-xxs-max) {
                max-width: 240px;
              }

              span {
                vertical-align: middle;
                margin-right: 10px;
              }
              .plus-icon {
                margin-top: 2px;
                @media (max-width: $screen-xxs-max) {
                  margin-top: 3px;
                }
              }
            }
          }
        }

        .text {
          margin-top: 50px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;

          @media (max-width: $screen-mds-max) {
            text-align: center;
            margin-top: 20px;
          }

          @media (max-width: $screen-xxs-max) {
            display: none;
          }

          p {
            line-height: 30px;
          }
        }
      }
    }
  }

  .faq-banner-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    button {
      background: transparent;
      border: none;
      box-shadow: none;
      color: #fff;
      font-size: 20px;
      font-weight: 800;
      padding: 0;
      outline: none;

      @media (max-width: $screen-xxs-max) {
        font-size: 15px;
      }
    }

    @media (max-width: 1260px) {
      left: 15px;
    }
  }

  .set-size {
    font-size: 12em;
    text-align: center;
    line-height: 0;
    // -- vars
    $bg-color: #34495e;
    $default-size: 1em;
    $label-font-size: calc($default-size / 3);
    $label-font-size-redo: calc($default-size * 3);
    $half-circle-color: #f57920;

    @media (max-width: $screen-xxs-max) {
      font-size: 10em;
    }

    // -- mixins
    @mixin size($width, $height) {
      height: $height;
      width: $width;
    }

    @mixin draw-progress($progress, $color) {
      $progress: 100-$progress;

      .pie {
        .half-circle {
          border-color: $color;
        }

        .left-side {
          @if $progress==100 {
            transform: rotate(360deg);
          } @else {
            transform: rotate($progress * 3.6deg);
          }
        }

        @if $progress <=50 {
          .right-side {
            display: none;
          }
        } @else {
          clip: rect(auto, auto, auto, auto);

          .right-side {
            transform: rotate(180deg);
          }
        }
      }
    }

    .charts-container {
      &:after {
        clear: both;
        content: '';
        display: table;
      }
    }

    .pie-wrapper {
      transform: scaleX(-1);
      @include size($default-size, $default-size);
      display: inline-block;
      position: relative;

      @media (max-width: $screen-sm-max) {
        margin: 0;
      }

      &:nth-child(3n + 1) {
        clear: both;
      }

      .pie {
        @include size(100%, 100%);
        clip: rect(0, $default-size, $default-size, calc($default-size / 2));
        left: 0;
        position: absolute;
        top: 0;

        .half-circle {
          @include size(100%, 100%);
          //border: 5px solid #3498db;
          border-radius: 50%;
          clip: rect(0, calc($default-size / 2), $default-size, 0);
          left: 0;
          position: absolute;
          top: 0;
          border: 5px solid #00a8b9;
          z-index: 999;
        }
      }

      .label {
        transform: scaleX(-1);
        background: $bg-color;
        border-radius: 50%;
        bottom: calc($label-font-size-redo / 10);
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: $label-font-size;
        left: calc($label-font-size-redo / 10);
        line-height: calc($label-font-size-redo * 0.7);
        position: absolute;
        right: calc($label-font-size-redo / 10);
        text-align: center;
        top: calc($label-font-size-redo / 10);
        font-size: 0.35em;
        font-weight: 600;

        .smaller {
          color: #bdc3c7;
          font-size: 0.45em;
          padding-bottom: 20px;
          vertical-align: super;
        }
      }

      .shadow {
        @include size(100%, 100%);
        border: 2px solid #fff;
        border-radius: 50%;
        transform: scale(0.985);

        // top:1%;
        // left:1%;
        &.road-shadow {
          border-color: #00a8b9;
        }
      }

      &.style-2 {
        .label {
          @media (max-width: $screen-xxs-max) {
            margin-top: -30px;
            line-height: 2em;
            font-size: 0.4em;
          }

          &.road-hours {
            padding: 0.2em 0 0.3em;
          }

          background: none;
          color: #fff;
          margin-top: -20px;
          line-height: 1.3em;
          font-size: 0.45em;

          &:after {
            content: attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 0.28em;
            line-height: 0.5em;
            text-align: center;
            color: #cfcfcf;
            margin-top: 40px;
            color: #fff;
            margin-top: 40px;
            width: 100%;
          }

          .smaller {
            color: #bdc3c7;
          }
        }
      }

      @for $i from 0 through 100 {
        &.progress-#{$i} {
          @include draw-progress($i, $half-circle-color);
        }
      }
    }
  }

  .col_wrapper {
    padding: 90px 0;

    @media (max-width: $screen-sm-max) {
      padding: 70px 0;
    }

    @media (max-width: $screen-xs-max) {
      padding: 40px 0 70px;
    }

    .sidebar_outer {
      border-right: 1px solid $grey-light;
      padding-top: 40px;
      padding-bottom: 40px;
      flex: 0 0 35%;
      max-width: 35%;

      @media (max-width: $screen-sm-max) {
        padding-top: 30px;
        padding-bottom: 30px;
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      @media (max-width: $screen-xs-max) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        border-right: transparent;
      }
    }
  }

  .name-wrapper {
    margin-bottom: 25px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }

    @media (max-width: $screen-xs-max) {
      width: 70%;
      max-width: 200px;
    }
  }

  h1 {
    color: $black2;
    line-height: 48px;
    letter-spacing: 0;
    font-size: 50px;
    width: 100%;

    @media (max-width: $screen-sm-max) {
      line-height: 38px;
      font-size: 30px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 32px;
      font-weight: 500;
      max-width: 215px;
      line-height: 34px;
      margin: 0 auto;
    }
  }

  h5 {
    color: $black3;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
  }

  .content_outer {
    flex: 0 0 65%;
    max-width: 65%;

    @media (max-width: $screen-sm-max) {
      flex: 0 0 66.66%;
      max-width: 66.66%;
    }

    @media (max-width: $screen-xs-max) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .side_bar {
    padding-right: 75px;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-flow(column);

    @media (max-width: $screen-md-max) {
      padding-right: 10px;
    }

    @media (max-width: $screen-xs-max) {
      padding-right: 0;
      @include flex-flow(row-reverse);
    }

    .profile_img {
      margin-bottom: 45px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 35px;
      }

      img {
        max-width: 77px;

        @media (max-width: $screen-sm-max) {
          max-width: 61px;
        }
      }

      @media (max-width: $screen-xs-max) {
        position: absolute;

        &.hide_logo {
          img {
            display: none;
          }
        }
      }
    }

    .indicator {
      right: 25px;
      margin-bottom: 0;
      top: 22px;

      &.complate {
        color: $sky_blue;
      }

      &.fail {
        color: $brick_red;
      }
    }

    .sidebar_wrpeer {
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }

      .digital_check {
        margin-bottom: 25px;

        @media (max-width: $screen-xs-max) {
          margin-bottom: 0;
        }

        input {
          border-color: #cccbcb;
          width: calc(100% - 40px);
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          display: inline;
        }

        .edite_btn {
          display: inline;
          background: url('/assets/images/team-center/pencil.png') no-repeat;
          width: 14px;
          height: 13px;
          border: 0;
          outline: none;
          margin-left: 5px;
        }

        .submit_btn {
          display: inline;
          border: 0;
          outline: none;
          margin-left: 5px;
          background-color: transparent;
          color: green;
          font-size: 12px;
        }

        h4 {
          display: inline;
          line-height: 28px;

          @media (max-width: $screen-xs-max) {
            font-size: 15px;
          }
        }
      }

      .name-wrapper {
        margin-bottom: 25px;

        @media (max-width: $screen-xs-max) {
          margin-bottom: 20px;
        }

        @media (max-width: $screen-xs-max) {
          width: 70%;
          max-width: 200px;
        }
      }

      h1 {
        color: $black2;
        line-height: 48px;
        letter-spacing: 0;
        font-size: 50px;
        width: 100%;
        max-width: 89%;
        word-break: break-word;

        @media (max-width: $screen-sm-max) {
          line-height: 38px;
          font-size: 30px;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 32px;
          font-weight: 500;
          max-width: 215px;
          line-height: 34px;
        }
      }

      h5 {
        color: $black3;
        margin-bottom: 30px;
        letter-spacing: 0.03em;
      }

      h4 {
        color: $black3;
        font-size: 18px;
        margin-bottom: 18px;
      }

      p {
        @media (max-width: $screen-xs-max) {
          max-width: 175px;
        }
      }

      .dropdown {
        margin-bottom: 20px;

        .btn {
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(8px);
          border-radius: 20px;
          font-size: 11px;
          background-color: rgba(34, 34, 36, 0.8);
          color: $peach;
          border: 0;
          padding: 12px 34px;
        }

        .dropdown-menu {
          background: #1f1f21;

          a {
            color: $white;
            font-size: 14px;

            &:hover {
              color: $white3;
            }
          }
        }

        .leg_status {
          h4 {
            font-size: 18px;
          }
        }
      }

      .team_wrapper {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 45px;

          li {
            background: $grey-dark;
            box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.3), 1px 4px 8px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            border-radius: 100%;
            margin-right: 14px;
            margin-bottom: 14px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: $gray2;
            font-size: 11px;
            font-weight: 600;
            min-height: 40px;
            max-width: 40px;

            &.more_mambers {
              border: 1.5px solid #ffb672;
              color: $white;
              cursor: pointer;
            }

            &:last-child {
              margin-right: 0;
            }

            @media (max-width: $screen-sm-max) {
              max-width: 30px;
            }

            img {
              width: 100%;
            }
          }
        }
      }

      .list {
        @media (max-width: $screen-xs-max) {
          overflow: auto;
          border-bottom: 1px solid #cccbcb;
          margin-left: -15px;
          margin-right: -15px;
          padding: 0 15px;
        }
      }

      .buttuns {
        flex-flow: column;
        align-items: start;
        margin-top: 30px;

        @media (max-width: $screen-xs-max) {
          margin-top: 10px;
          flex-flow: inherit;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        a {
          display: inline-block;
          font-weight: 500;
          color: $black;
          font-size: 12px;
          background: $white;
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(8px);
          border-radius: 20px;
          padding: 10px 40px 11px 60px;
          margin-bottom: 20px;
          position: relative;
          cursor: pointer;
          border: 2px solid transparent;
          min-width: 170px;

          @media (max-width: $screen-xs-max) {
            padding: 5px 10px 5px 33px;
            margin-right: 0;
            // min-width: 120px;
            text-align: center;
            width: 48%;
            min-width: unset;
          }

          &:hover {
            border-color: #161616;
          }

          &.active {
            background-color: $black3;
            color: $white;
          }

          i {
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            left: -2px;
            top: -2px;
            font-size: 24px;
            line-height: 39px;
            text-align: center;
            border: 1.5px solid #f17a21;
            color: $black3;
            background-color: transparent;
            background-color: $white;

            @media (max-width: $screen-xs-max) {
              height: 30px;
              width: 30px;
              font-size: 20px;
              line-height: 26px;
            }

            &.iconm-add-invite {
              font-size: 13px;

              @media (max-width: $screen-xs-max) {
                font-size: 10px;
              }
            }

            &.iconm-addrun {
              font-size: 16px;

              @media (max-width: $screen-xs-max) {
                font-size: 13px;
              }
            }

            &.iconm-Leaderboard {
              font-size: 18px;
            }

            &.iconm-ragnar_icon {
              @media (max-width: $screen-xs-max) {
                font-size: 15px;
              }
            }

            &.iconm-activity-feed {
              line-height: 18.5px;
              z-index: 1;

              @media (max-width: $screen-xs-max) {
                line-height: 11.5px;
              }

              &:before {
                content: '';
                height: 20px;
                width: 21px;
                background-color: #333333;
                border-radius: 4px;
                display: inline-block;
                top: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                z-index: -1;

                @media (max-width: $screen-xs-max) {
                  height: 18px;
                  width: 17px;
                }
              }

              span {
                height: 1px;
                width: 11px;
                background: #fff;
                display: inline-block;
                border-radius: 8px;
                position: relative;
                margin: 0;

                &:before,
                &::after {
                  content: '';
                  background: inherit;
                  height: inherit;
                  width: inherit;
                  position: absolute;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  border-radius: 8px;
                  font-size: 0;
                }

                &:before {
                  top: -4px;
                }

                &:after {
                  bottom: -4px;
                }
              }
            }
          }
        }
      }

      .event-summary {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 25px;

          h6 {
            font-size: 20px;
            color: $black2;
            font-weight: 600;
            text-transform: uppercase;
            padding-right: 10px;
            margin-bottom: 0;

            @media (max-width: $screen-sm-max) {
              font-size: 18px;
            }
          }

          span {
            color: $orange-brand;
            font-size: 20px;
            font-weight: 600;

            @media (max-width: $screen-sm-max) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .main-content {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: $screen-md-max) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    ::ng-deep {
      .teamfeed,
      .team_edit {
        max-width: 680px;
        margin: 0 auto;

        @media (max-width: $screen-xs-max) {
          max-width: 100%;
        }
      }
    }
  }

  .info-section {
    margin-bottom: 60px;

    .info-box {
      .img {
        margin-bottom: 25px;
        display: inline-block;
        height: 180px;

        img {
          max-width: 100%;
          max-height: 180px;
        }

        &.text-box {
          height: 180px;
          width: 100%;
          background-color: $sky_blue;
          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            color: $white;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 900;
          }
        }
      }

      h4 {
        text-transform: uppercase;
      }

      p {
        font-size: 16px;
        line-height: 1.1em;
      }
    }

    .box-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (max-width: $screen-xxs-max) {
        &:not(:last-child) {
          position: relative;

          &::after {
            border-bottom: 1px solid $grey-light;
            margin: 40px auto;
            display: inline-block;
            content: '';
            width: 85%;
          }
        }
      }
    }

    .rg_btn {
      background: $sky_blue;
      font-size: 16px;
      color: $white;
      text-transform: uppercase;
      border-radius: 0;
      min-width: unset;
      margin: 0 auto;
      max-width: unset;
      display: inline-block;
      padding: 12px 25px;
      margin-top: 25px;
      border: none;
      width: 100%;

      &.orange-btn {
        background: $orange-brand;
      }
    }
  }

  .challange-result {
    background-image: radial-gradient(circle at 0 1%, #00a8b9, #003e51);
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transform: scale(0);
    opacity: 0;
    transition: all 0.2s ease;

    @media (min-width: $screen-md-min) {
      top: 89px;
      height: calc(100% - 89px);
      height: -webkit-calc(100% - 89px);
      height: -moz-calc(100% - 89px);
      height: -ms-calc(100% - 89px);
      height: -o-calc(100% - 89px);
    }

    &.active {
      transform: scale(1);
      opacity: 1;
      z-index: 2;

      @media (max-width: $screen-sm-max) {
        z-index: 5;
        display: flex;
        align-items: center;
      }
    }

    .challange-result-inner {
      padding: 80px 15px;
      overflow-y: auto;
      height: 100%;

      @media (max-width: $screen-sm-max) {
        padding-top: 100px;
        padding-bottom: 0;
        max-height: 78vh;
        margin: 0 auto;
      }

      .close-popup {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 16px;
        height: 16px;
        display: inline-block;
        // background: url('../images/challenge/close.png');
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        z-index: 1;
        cursor: pointer;

        @media (max-width: $screen-sm-max) {
          top: 95px;
          left: 15px;
        }

        /* &:after{
					content: "";
					width: 16px;
					height: 16px;
					background: url('images/challenge/close.png');
					z-index: 1;
					position: absolute;
				} */
      }

      .challange-result-title {
        font-size: 30px;
        margin: 0 0 50px;
        font-family: $font_family_barlow_Condensed;
      }

      .completed-miles-box {
        width: 203px;
        display: table;
        margin: 0 auto;
        padding: 35px;
        border: solid 2px #00a8b9;

        .data {
          .data-number {
            display: block;
            font-size: 60px;
            line-height: 60px;
            font-weight: bold;
            letter-spacing: 0.1px;

            @media (max-width: $screen-xs-max) {
              font-size: 40px;
            }
          }

          .data-text {
            font-size: 20px;
            font-weight: 500;
            color: #cacaca;
          }
        }

        .ragnar-logo {
          display: table;
          margin: 45px auto;
        }
      }

      .challnge-completed-title {
        font-size: 25px;
        letter-spacing: 0.1px;
        text-align: center;
        color: #00a8b9;
        margin: 40px auto;
        max-width: 420px;

        span {
          font-size: 16px;
          color: #00a8b9;
          display: block;
          padding-top: 12px;
        }
      }

      a.result-get-gear {
        margin-top: 20px;
        background-color: rgb(191, 163, 48);
        padding: 10px 30px !important;
        display: inline-block;
        text-decoration: none;
      }

      .feedback-box {
        .feedback {
          font-size: 16px;
        }

        &.mobile {
          display: none;

          @media (max-width: $screen-xs-max) {
            display: block;
          }
        }

        &.desktop {
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }

        .feedback-btn {
          margin: 25px auto;
          color: #fff;
          border: none;
        }
      }
    }
  }

  .ended-band {
    padding: 40px 0;
    text-align: center;
    background-color: #f1f1f1;

    @media (max-width: $screen-xs-max) {
      padding-top: 30px;
    }

    h2 {
      margin-bottom: 15px;
      display: inline-block;
      font-size: 38px;
      font-weight: 600;
      letter-spacing: 0.07px;
      color: #003e51;
      margin-top: 0;
      font-family: $font_family_barlow_Condensed;

      @media (max-width: $screen-xs-max) {
        font-size: 28px;
      }
    }

    p {
      font-size: 18px;
      letter-spacing: 0.07px;
      text-align: center;
      color: #333333;
      font-weight: 400;
      max-width: 724px;
      margin: 0 auto 20px;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }

    .ended-btn {
      background: #00a8b9;
      color: #fff;
      padding: 15px 24px;
      font-family: $font_family_barlow_Condensed;
      font-size: 20px;
      font-weight: 600;
      border: none;
      box-shadow: none;
      display: inline-block;
      letter-spacing: 0.04px;
      padding: 15px 45px;
      transition: all 0.3s linear 0s;

      &:hover,
      &:focus {
        background-color: #009dad;
        text-decoration: none;
      }

      @media (max-width: $screen-xs-max) {
        padding: 10px 35px;
      }
    }
  }
}
