@import 'vars';

@mixin container-common() {
  max-width: 1170px;
}
.what_is_Raganr_roads_main {
  .banner-captionbox {
    position: relative;
    & > img {
      width: 100%;
    }
    .vimeo-banner-video {
      padding-bottom: 45.625%;
      iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
    .banner-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      .banner-title {
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: $white;
        font-family: $font_family_barlow_Condensed;
        @include font-weight(600);
        font-size: 80px;
        line-height: 80px;
        @media only screen and (max-width: 991px) {
          font-size: 70px;
          line-height: 70px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 60px;
          line-height: 60px;
        }
      }
      .banner-desc {
        margin: 30px 0 70px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: $white;
        @include font-weight(600);
        font-size: 26px;
        line-height: 38px;
        @media (max-width: $screen-md-max) {
          margin: 10px 0 20px;
        }
        @media (max-width: $screen-xs-max) {
          margin: 30px 0 70px;
        }
      }
      .banner-btn {
        color: $white;
        padding: 22px 51px;
        border: 2px solid $white;
        border-radius: 0;
        @include font-weight(600);
        font-size: 16px;
        img {
          margin-left: 15px;
        }
        @media (max-width: $screen-xs-max) {
          width: 100%;
          font-size: 14px;
          padding: 12px 51px;
          max-width: 375px;
        }
      }
    }
  }
  .page-content {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(flex-start);
    position: relative;
    & > div {
      width: 33.33%;
      display: inline-block;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
      .image-box {
        img {
          width: 100%;
          height: 472px;
          object-fit: cover;
          padding-top: 5px;
        }
      }
    }
    .pc-center {
      padding: 0px 8px;
      margin-top: -120px;
      background-color: $white;
      @media (max-width: $screen-md-max) {
        margin-top: -55px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 0px;
        padding: 0;
      }
      .content-box {
        padding: 50px;
        @include flexbox();
        @include align-items(center);
        height: 354px;
        @media only screen and (max-width: 1400px) {
          padding: 30px 20px;
          height: 353px;
        }
        @media (max-width: $screen-md-max) {
          height: 333px !important;
        }
        @media (max-width: $screen-xs-max) {
          height: auto !important;
        }
        .content-box-inner {
          width: 100%;
          .title {
            margin: 0 0 25px;
            color: $black2;
            font-family: $font_family_barlow_Condensed;
            @include font-weight(600);
            font-size: 46px;
            line-height: 50px;
            text-transform: uppercase;
            @media only screen and (max-width: 991px) {
              margin: 0 0 15px !important;
              font-size: 34px !important;
              line-height: 40px !important;
            }
            @media (max-width: $screen-xs-max) {
              font-size: 46px !important;
              line-height: 50px !important;
            }
          }
          .desc {
            color: $black3;
            @include font-weight(500);
            font-size: 18px;
            line-height: 38px;
            @media (max-width: $screen-md-max) {
              font-size: 16px;
              line-height: 24px;
            }
            @media (max-width: $screen-xs-max) {
              font-size: 18px;
              line-height: 38px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .explore-road-races {
    background-color: $navy;
    padding: 50px 0;
    h2 {
      margin: 0 0 30px;
      color: $white;
      font-family: $font_family_barlow_Condensed;
      @include font-weight(600);
      font-size: 60px;
      line-height: 60px;
      @media (max-width: $screen-xs-max) {
        font-size: 46px;
        line-height: 50px;
        margin-bottom: 0;
      }
    }
    .rg_tmbtn {
      @include theme_btn2($padding: 25px 77px, $fsize: 16px);
      margin-top: 30px;
      @media (max-width: $screen-xs-max) {
        width: calc(100% - 30px);
        margin-top: 40px;
        font-size: 14px;
        line-height: 16px;
        padding: 15px 30px;
      }
    }
  }
  .what-is-ragnar-banner-road {
    background: $white;
    padding: 65px 0 50px;
    @media (max-width: $screen-xs-max) {
      padding: 20px 20px 30px;
    }
    .wir-title {
      color: $black2;
      font-family: $font_family_barlow_Condensed;
      @include font-weight(600);
      font-size: 46px;
      line-height: 50px;
    }
    .ragnar-category {
      padding-top: 60px;
      @include flexbox();
      @include justify-content(space-around);
      max-width: 1450px;
      margin: 0 auto;
      @media (max-width: $screen-xs-max) {
        @include flex-wrap(wrap);
        padding-top: 25px;
      }
      .category-item {
        cursor: pointer;
        @media (max-width: $screen-xs-max) {
          margin-bottom: 17px;
        }
      }
      .category {
        display: table;
        margin: 0 15px;
        // overflow: hidden;
        // cursor: pointer;
        &:hover {
          img {
            right: -5px !important;
          }
        }
        .category-img {
          position: relative;
          .category-desc {
            display: none;
          }
          .category-detail {
            position: absolute;
            left: 0;
            line-height: 20px;
            padding: 0 20px 15px;
            transition: all 0.5s ease;
            z-index: 1;
            bottom: 0;
            transform: translateX(calc(100% - 50px));
            transform: translateY(calc(100% - 45px));
            -webkit-transform: translateY(calc(100% - 45px));
            -moz-transform: translateY(calc(100% - 45px));
            -ms-transform: translateY(100%) translateY(-50px);
            .category-title {
              color: $white;
              font-family: $font_family_barlow_Condensed;
              @include font-weight(600);
              font-size: $font_size_mega;
              line-height: 30px;
              padding-bottom: 15px;
              text-transform: uppercase;
              @media only screen and (max-width: 991px) {
                font-size: 30px !important;
                line-height: 32px !important;
                padding-bottom: 10px !important;
              }
            }
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .category-link {
          background-color: $black2;
          color: $white;
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          @include font-weight(600);
          padding: 5px 20px;
          text-align: right;
          position: relative;
          z-index: 1;
          a {
            text-decoration: none;
            color: $white;
            img {
              margin-left: 5px;
              position: relative;
              right: 0;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
  }
}
