<div class="purchae_policy_main">
  <section class="purchae_policy_banner text-left">
    <div class="container termof_use_title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.purchase-policy.title' | translate }}</div>
    </div>
  </section>
  <section class="purchae_policy_main-content_section">
    <div class="container">
      <div class="purchae_policy_main-content">
        <h3 class="ragnar-ambassdors">{{ 'common-data.purchase-policy' | translate }}</h3>
        <p class="mb-10">{{ 'static-pages.purchase-policy.welcome-to-ragnar' | translate }}</p>
        <p>
          {{ 'static-pages.purchase-policy.about-purchase-policy' | translate }}
        </p>
        <h4>{{ 'static-pages.purchase-policy.refunds' | translate }}</h4>
        <p>
          {{ 'static-pages.purchase-policy.refund-instruction' | translate }}
        </p>
        <h4>{{ 'static-pages.purchase-policy.transfer-policy' | translate }}</h4>
        <p>
          {{ 'static-pages.purchase-policy.transfer-policy-instruction' | translate
          }}<a href="https://ragnarrelay.zendesk.com/hc/en-us/articles/115000190346-Transfer-Race-Registration-">Transfer Policy</a> for
          more information.
        </p>
        <p>
          {{ 'static-pages.purchase-policy.customer-service' | translate
          }}<a href="mailto:customerservice@runragnar.com">customerservice@runragnar.com.</a>
        </p>
      </div>
    </div>
  </section>
</div>
