<div class="forgot_page">
  <div class="forgot_cover">
    <h5>{{ 'auth.forgot-password.title' | translate }}</h5>
    {{ 'auth.forgot-password.existing-account' | translate }}
    <a routerLink="/{{ authRoutes.main }}/{{ authRoutes.login }}" routerLinkActive="router-link-active"
      >{{ 'common-data.login' | translate }}
    </a>
    {{ 'common-data.now' | translate }}
    <form #forgotPasswordForm="ngForm">
      <div
        class="form-group"
        [ngClass]="{ error_input: forgotPasswordForm.submitted && (email.errors?.required || email.errors?.pattern) }"
      >
        <label for="email">{{ 'common-data.email' | translate }}</label>
        <input
          class="form-control"
          type="email"
          name="email"
          #email="ngModel"
          id="email"
          placeholder="email@domain.com"
          pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
          [(ngModel)]="forgotPasswordData.email"
          (ngModelChange)="show.error = null"
          (focus)="formElementEnter(forgotPasswordForm)"
          (blur)="formElementExit(forgotPasswordForm)"
          required
          ngbAutofocus
        />
        <ng-container *ngIf="forgotPasswordForm.submitted">
          <span class="error_msg" *ngIf="email.errors?.required"> {{ 'common-data.email-required' | translate }} </span>
          <span class="error_msg" *ngIf="email.errors?.pattern"> {{ 'common-data.valid-email' | translate }} </span>
        </ng-container>
        <div *ngIf="show.error">{{ 'auth.forgot-password.show-error' | translate }}</div>
      </div>
      <button class="rg_btn" (click)="forgotPassword(forgotPasswordForm)" [disabled]="show.loading">
        <span class="spinner-grow spinner-grow-sm text-dark" role="status" aria-hidden="true" [hidden]="!show.loading"></span>
        {{ 'auth.forgot-password.submit' | translate }}
      </button>
    </form>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
