<div class="medals_main">
  <section class="medals-banner text-center">
    <div class="medals-banner-title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.medals.new-year-new-swag' | translate }}</div>
      <div class="medals-banner-desc">
        {{ 'static-pages.medals.check-out-in-store' | translate }}<br />{{ 'static-pages.medals.collection' | translate }}
      </div>
    </div>
  </section>
  <section class="road-trail-sunset-wrapper">
    <div class="container">
      <div class="card-wrapper row">
        <div class="card-box col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="road">
            <div class="card-img"><img class="img-fluid" src="../../../../assets/images/static-pages/medals/road.png" /></div>
            <div class="card-info">
              <h2 class="card-title">{{ 'common-data.road' | translate }}</h2>
              <div class="card-desc">
                {{ 'static-pages.medals.about-road' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-box col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="trail">
            <div class="card-img"><img class="img-fluid" src="../../../../assets/images/static-pages/medals/trail.png" /></div>
            <div class="card-info">
              <h2 class="card-title">{{ 'static-pages.medals.trail' | translate }}</h2>
              <div class="card-desc">
                {{ 'static-pages.medals.about-trail' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-box col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="sunset">
            <div class="card-img"><img class="img-fluid" src="assets/images/static-pages/medals/sprint.png" /></div>
            <div class="card-info">
              <h2 class="card-title">{{ 'static-pages.medals.sprint' | translate }}</h2>
              <div class="card-desc">
                {{ 'static-pages.medals.about-sprint' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="medals-wrapper text-center">
    <div class="container">
      <div class="medals-inner">
        <h2 class="medals-title">
          {{ 'static-pages.medals.connector' | translate }} {{ 'static-pages.medals.regional-medals' | translate }}
        </h2>
        <div class="medals-desc">
          {{ 'static-pages.medals.connector-regional-medals' | translate }}
        </div>
        <div class="medals-list">
          <div class="medals-list-inner">
            <img class="img-fluid mx-auto d-block" src="assets/images/static-pages/medals/connector.png" />
            <div class="double-wammy text-block">
              <a class="plusbtn collapsed" data-toggle="collapse" data-target="#double-wammy">
                <img src="assets/images/static-pages/medals/plus.png" class="img-fluid" />
              </a>
              <div class="collapse popup-box" id="double-wammy">
                <div class="popup-box-inner">
                  First connector medal! Run two Road, Trail or Sprint races and get the Double Trouble. Earn up to 10 connector medals.
                </div>
              </div>
              <div class="d-none d-sm-block">
                {{ 'static-pages.medals.about-connector-regional1' | translate }}
              </div>
            </div>
            <div class="rocky text-block">
              <a class="plusbtn right collapsed" data-toggle="collapse" data-target="#rocky">
                <img src="assets/images/static-pages/medals/plus.png" class="img-fluid" />
              </a>
              <div class="collapse popup-box rocky-popup-box" id="rocky">
                <div class="popup-box-inner">
                  With each additional race you run in 2022, you’ll get a sweet bonus medal. Connect them to form one giant chain of glory.
                  Scroll to see them all!
                </div>
              </div>
              <div class="d-none d-sm-block">
                {{ 'static-pages.medals.about-connector-regional2' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="immortal-wrapper text-center">
    <div class="container">
      <div class="immortal-inner">
        <h2 class="medals-title">{{ 'static-pages.medals.the-immortal' | translate }}</h2>
        <div class="immortal-desc">
          {{ 'static-pages.medals.about-immortal' | translate }}
        </div>
        <div class="immortal-img">
          <img src="../../../../assets/images/static-pages/medals/immortal.png" class="mx-auto img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <section class="faq">
    <div class="container">
      <div class="faq-inner">
        <h3 class="text-uppercase">{{ 'static-pages.medals.frequently-asked-questions' | translate }}</h3>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="faq-box">
              <div class="faq-question">{{ 'static-pages.medals.question1' | translate }}</div>
              <div class="faq-ans">
                {{ 'static-pages.medals.about-question1' | translate }}
              </div>
            </div>
            <!-- <div class="faq-box">
              <div class="faq-question">{{ 'static-pages.medals.question2' | translate }}</div>
              <div class="faq-ans">
                <p>{{ 'static-pages.medals.rocky-mountain-fever' | translate }}</p>
                <p>{{ 'static-pages.medals.great-heights' | translate }}</p>
                <p>{{ 'static-pages.medals.dontcha-know' | translate }}</p>
                <p>{{ 'static-pages.medals.phoenix-rises' | translate }}</p>
                <p>{{ 'static-pages.medals.chronic-addiction' | translate }}</p>
                <p>{{ 'static-pages.medals.mega-mitten' | translate }}</p>
              </div>
            </div> -->
            <div class="faq-box">
              <div class="faq-question">{{ 'static-pages.medals.question3' | translate }}</div>
              <div class="faq-ans">
                {{ 'static-pages.medals.about-question3' | translate }}
              </div>
            </div>
            <div class="faq-box">
              <div class="faq-question">{{ 'static-pages.medals.question7' | translate }}</div>
              <div class="faq-ans">{{ 'static-pages.medals.about-question7' | translate }}</div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="faq-box">
              <div class="faq-question">{{ 'static-pages.medals.question4' | translate }}</div>
              <div class="faq-ans">{{ 'static-pages.medals.about-question4' | translate }}</div>
            </div>
            <div class="faq-box">
              <div class="faq-question">
                {{ 'static-pages.medals.question5' | translate }}
              </div>
              <div class="faq-ans">{{ 'static-pages.medals.about-question5' | translate }}</div>
            </div>
            <!-- <div class="faq-box">
              <div class="faq-question">{{ 'static-pages.medals.question6' | translate }}</div>
              <div class="faq-ans">
                {{ 'static-pages.medals.about-question6' | translate }}
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="insta-shots">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 col-md-12">
          <div class="insta-titles">
            <div class="insta-icon">
              <img
                src="assets/images/static-pages/medals/insta-shots-icon.png"
                class="img-thumbnail d-block d-sm-none d-lg-block d-md-none"
                alt="insta-shots-icon"
              />
              <img
                src="assets/images/static-pages/medals/insta-shots-icon-xs.png"
                class="img-thumbnail d-none d-sm-block d-lg-none d-md-block"
                alt="insta-shots-icon"
              />
            </div>
            <div class="insta-text">
              <h2 class="text-left">{{ 'static-pages.medals.ragnarians-shots' | translate }}</h2>
              <p class="text-left">{{ 'static-pages.medals.join-tribe' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="insta-ragnarians">
    <ul class="juicer-feed" data-feed-id="ragnar-home-page"></ul>
  </div> -->
</div>
