@import '../../../../assets/styles/vars';
@import '../../../../assets/styles/mixins';

.teamfeed {
  margin-top: 40px;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $grey-mid;
  }
  .chart_box {
    background-color: $grey-dark;
    height: 200px;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 4px 8px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  hr {
    border-top: 2px solid $grey;
    margin-bottom: 8px;
  }
  .feed_inner {
    max-height: 520px;
    overflow: auto;
    -ms-overflow-style: auto;
    scrollbar-color: #003e51 rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    &::-webkit-scrollbar-thumb {
      background-color: #003e51;
    }
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar {
      width: 0.2rem;
      height: 0.5rem;
    }
  }
  .feed_row {
    display: block;
    margin-bottom: 30px;
    .user_img {
      // margin-right: 16px;
      display: inline-block;
      vertical-align: top;
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }
    .profil_pc {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      border: 2px solid #000000;
      display: inline-block;
      text-align: center;
      line-height: 38px;
      padding: 0;
      font-size: 14px;
      vertical-align: top;
      span {
        font-size: 15px;
      }
    }
    .post_detail {
      display: inline-block;
      width: calc(100% - 60px);
      margin-left: 14px;
      img {
        margin: 10px 0;
      }
      h5 {
        color: $gray2;
      }
      .btn_highf {
        margin-right: 11px;
        margin-bottom: 10px;
        color: $grey-mid;
      }
      .like_count {
        margin-right: 11px;
        margin-bottom: 10px;
      }
    }
    &.textarea_feed {
      img {
        max-width: 40px;
      }
      textarea {
        width: 100%;
        margin-bottom: 10px;
        background-color: #e2e2e2;
        border-radius: 4px;
        color: $grey-dark;
        padding: 16px;
        border: 0;
        @include placeholder {
          color: $grey-dark;
          font-weight: 400;
        }
      }
      .btn_highf {
        float: right;
        margin-left: 5px;
        margin-right: 0;
        color: $grey-mid;
      }
    }
    > .feed_row {
      margin-left: 52px;
      margin-bottom: 0;
      margin-top: 15px;
      .user_img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
    &.comment_box {
      padding-left: 50px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .see-all {
    button {
      background: transparent;
      border: 1px solid $black;
      color: $black3;
      font-size: 16px;
      min-width: unset;
      max-width: 230px;
      width: 100%;
      padding: 17px 50px;
      margin: 0 auto;
      @media (max-width: $screen-xs-max) {
        max-width: 345px;
        margin-left: auto;
        margin-right: auto;
      }
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
