<div class="ambassadors_form_main">
  <section class="ambassadors_form_main_banner">
    <div class="col-12 p-0">
      <div class="ambassadors_form_title text-uppercase">{{ 'static-pages.ambassador.ambassadors-form-title' | translate }}</div>
    </div>
  </section>
  <section class="ambassadors_form_iframe">
    <iframe
      class="col-xs-12"
      src="https://docs.google.com/forms/d/1Xcw2MfigXqCR9bjkd80Bou9CxQWL2IDZBCf1AMMFHJ4/viewform?embedded=true"
      width="760"
      height="2300"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    ></iframe>
  </section>
</div>
