[class^="iconm-"], [class*=" iconm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconm-sort:before {
  content: "\e921";
}
.iconm-time:before {
  content: "\e91e";
}
.iconm-calendar:before {
  content: "\e91f";
}
.iconm-ragnar_icon:before {
  content: "\e920";
}
.iconm-download:before {
  content: "\e91d";
}
.iconm-lilfoot:before {
  content: "\e91c";
}
.iconm-map-pin:before {
  content: "\e91b";
}
.iconm-camera:before {
  content: "\e91a";
}
.iconm-twit:before {
  content: "\e916";
}
.iconm-facebook:before {
  content: "\e917";
}
.iconm-instagram:before {
  content: "\e918";
}
.iconm-youtub:before {
  content: "\e919";
}
.iconm-run:before {
  content: "\e90b";
}
.iconm-run-slow:before {
  content: "\e913";
}
.iconm-Leaderboard:before {
  content: "\e914";
}
.iconm-dashbord:before {
  content: "\e915";
}
.iconm-highfive:before {
  content: "\e911";
}
.iconm-addrun:before {
  content: "\e912";
}
.iconm-subtract:before {
  content: "\e90f";
}
.iconm-union:before {
  content: "\e910";
}
.iconm-right-arrowsm:before {
  content: "\e90e";
}
.iconm-add-a-photo:before {
  content: "\e900";
}
.iconm-add-invite:before {
  content: "\e901";
}
.iconm-alert:before {
  content: "\e902";
}
.iconm-arrow-right:before {
  content: "\e903";
}
.iconm-assignleg:before {
  content: "\e904";
}
.iconm-check:before {
  content: "\e905";
}
.iconm-comment:before {
  content: "\e906";
}
.iconm-eye:before {
  content: "\e907";
}
.iconm-high-five:before {
  content: "\e908";
}
.iconm-lock:before {
  content: "\e909";
}
.iconm-notification:before {
  content: "\e90a";
}
.iconm-plus:before {
  content: "\e90c";
}
.iconm-X:before {
  content: "\e90d";
}
