<div class="trainig_road_main">
  <section class="row-fluid main-banner text-center" id="tr-banner">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <img class="img-fluid" src="assets/images/static-pages/training-road/tr-banner-title2.png" alt="" />
    </div>
  </section>
  <section class="row" id="corporate-content">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 train_for_your_next">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <br />
            <h2 class="text-center">{{ 'static-pages.training-road.title' | translate }}</h2>
            <br />
            <p class="text-center">
              {{ 'static-pages.training-road.about-training-road-line1' | translate }}
            </p>
            <p class="text-center">
              {{ 'static-pages.training-road.about-training-road-line2' | translate }}
            </p>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <img class="img-fluid" src="assets/images/static-pages/training-road/steps-banner.jpg" alt="" />
    </div>
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 train_for_your_next so_how_works">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <br />
            <h2 class="text-center">{{ 'static-pages.training-road.how-it-works' | translate }}</h2>
            <br />
            <p class="text-center">
              {{ 'static-pages.training-road.about-how-it-works' | translate }}
            </p>
            <br />
            <div class="text-center">
              <a class="btn-custom-nobg" routerLink="/{{ headerRoutes.whatIsRagnar }}"
                >{{ 'static-pages.training-road.find-out-more' | translate }} &gt;&gt;</a
              >
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 corporate-bg-gray-mnu">
      <div class="container">
        <div class="row tip-row first">
          <div class="col-sm-4 col-12 tip-col">
            <h1 class="text-white">
              {{ 'common-data.ragnar' | translate }}<br />
              {{ 'static-pages.training-road.training' | translate }}<br />
              <span class="text-orange">{{ 'static-pages.training-road.pro-tips' | translate }}</span>
            </h1>
          </div>
          <div class="col-sm-7 col-12 tip-content">
            <img class="img-fluid" src="assets/images/static-pages/training-road/reebok-ragnar.png" alt="" />
            <h4 class="text-white">
              {{ 'static-pages.training-road.about-pro-tips' | translate }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 corporate-bg-gray">
      <div class="container">
        <div class="row tip-row">
          <div class="col-sm-4 col-12 tip-col">
            <h2>
              <span class="text-orange">1.</span> {{ 'static-pages.training-road.prepare' | translate }}<br />
              {{ 'static-pages.training-road.for-the' | translate }}<br />
              {{ 'static-pages.training-road.night-leg' | translate }}
            </h2>
          </div>
          <div class="col-sm-7 col-12 tip-content">
            <p>
              {{ 'static-pages.training-road.about-night-leg' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container">
        <div class="row tip-row">
          <div class="col-sm-4 col-12 tip-col">
            <h2>
              <span class="text-orange">2.</span> {{ 'static-pages.training-road.run-on' | translate }}<br />
              {{ 'static-pages.training-road.tired' | translate }}<br />
              {{ 'static-pages.training-road.legs' | translate }}
            </h2>
          </div>
          <div class="col-sm-7 col-12 tip-content">
            <p>
              {{ 'static-pages.training-road.about-run-on-tired-leg' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 corporate-bg-gray">
      <div class="container">
        <div class="row tip-row">
          <div class="col-sm-4 col-12 tip-col">
            <h2>
              <span class="text-orange">3.</span> {{ 'static-pages.training-road.target' | translate }}<br />
              {{ 'static-pages.training-road.your' | translate }}<br />
              {{ 'static-pages.training-road.long-leg' | translate }}
            </h2>
          </div>
          <div class="col-sm-7 col-12 tip-content">
            <p>
              {{ 'static-pages.training-road.about-target-long-leg' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container">
        <div class="row tip-row last">
          <div class="col-sm-4 col-12 tip-col">
            <h2>
              <span class="text-orange">4.</span> {{ 'static-pages.training-road.test' | translate }}<br />
              {{ 'static-pages.training-road.your' | translate }}<br />
              {{ 'static-pages.training-road.nutrition' | translate }}
            </h2>
          </div>
          <div class="col-sm-7 col-12 tip-content">
            <p>
              {{ 'static-pages.training-road.about-test-nutrition' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 corporate-bg-gray-mnu choose_ur_traing_plan">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="choose-title text-white">{{ 'static-pages.training-road.choose-training-plan' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 programm_section">
      <div class="container">
        <div class="row plan-row">
          <div class="col-sm-4 col-12 plan-col">
            <h2 class="text-orange">
              {{ 'static-pages.training-road.hero' | translate }}<br />
              {{ 'static-pages.training-road.to' | translate }}<br />
              {{ 'static-pages.training-road.god' | translate }}
            </h2>
            <h3>{{ 'static-pages.training-road.advanced' | translate }}</h3>
          </div>
          <div class="col-sm-7 col-12 plan-content">
            <h4>{{ 'static-pages.training-road.12-week-training-program' | translate }}</h4>
            <p>
              {{ 'static-pages.training-road.about-training-program' | translate }}
            </p>
            <br />
            <a class="btn-custom-nobg" href="assets/files/AdvancedTraining.pdf" target="_blank"
              >{{ 'static-pages.training-road.from-hero-to-god' | translate }} &gt;&gt;</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 corporate-bg-gray programm_section">
      <div class="container">
        <div class="row plan-row">
          <div class="col-sm-4 col-12 plan-col">
            <h2 class="text-orange">
              {{ 'static-pages.training-road.zero' | translate }}<br />
              {{ 'static-pages.training-road.to' | translate }}<br />
              {{ 'static-pages.training-road.hero' | translate }}
            </h2>
            <h3>{{ 'static-pages.training-road.moderate' | translate }}</h3>
          </div>
          <div class="col-sm-7 col-12 plan-content">
            <h4>{{ 'static-pages.training-road.12-week-training-program' | translate }}</h4>
            <p>
              {{ 'static-pages.training-road.about-moderate' | translate }}
            </p>
            <br />
            <a class="btn-custom-nobg" href="assets/files/NoviceTraining.pdf" target="_blank"
              >{{ 'static-pages.training-road.from-zero-to-hero' | translate }} &gt;&gt;</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 programm_section">
      <div class="container">
        <div class="row plan-row">
          <div class="col-sm-4 col-12 plan-col">
            <h2 class="text-orange">
              {{ 'static-pages.training-road.couch' | translate }}<br />
              {{ 'static-pages.training-road.potato' | translate }}<br />
              {{ 'static-pages.training-road.to-ragnar' | translate }}
            </h2>
            <h3>{{ 'static-pages.training-road.crash-course' | translate }}</h3>
          </div>
          <div class="col-sm-7 col-12 plan-content">
            <h4>{{ 'static-pages.training-road.4-week-crash-course' | translate }}</h4>
            <p>
              {{ 'static-pages.training-road.about-crash-course-line1' | translate }} <br />
              {{ 'static-pages.training-road.about-crash-course-line2' | translate }}
            </p>
            <br />
            <a class="btn-custom-nobg" href="assets/files/CrashCourseTraining.pdf" target="_blank"
              >{{ 'static-pages.training-road.from-couch-to-ragnar' | translate }} &gt;&gt;</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 corporate-bg-gray" id="tr-couch">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-12 tr-couch-col-1">
            <img class="img-fluid" src="assets/images/static-pages/training-road/couch.png" alt="" />
          </div>
          <div class="col-sm-6 col-12 tr-couch-col-2">
            <h2 class="text-orange">{{ 'static-pages.training-road.meet-the-coach' | translate }}</h2>
            <h3>{{ 'static-pages.training-road.steve-jones' | translate }}</h3>
            <p>
              {{ 'static-pages.training-road.about-steve-jones' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 raganar_trainings">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <br />
            <h3 class="text-center text-orange">{{ 'static-pages.training-road.ragnar-training' | translate }}</h3>
            <p class="font-medium text-center">{{ 'static-pages.training-road.about-ragnar-training' | translate }}</p>
            <br />
            <a href="https://www.instagram.com/explore/tags/ragnartraining/" target="_blank">
              <img class="img-fluid center-block" src="assets/images/static-pages/training-road/tr-insta.png" alt="" />
            </a>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
