<div class="privacy_policy_main">
  <section class="privacy_policy_banner text-left">
    <div class="container volunteer_banner_title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.privacy-policy.title' | translate }}</div>
    </div>
  </section>
  <section class="privacy_policy_main-content_section">
    <div class="container">
      <div class="privacy_policy_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.privacy-policy.ragnar-relay-privacy-policy' | translate }}</h3>
        <p class="mb-10">
          {{ 'static-pages.privacy-policy.about-ragnar-relay-privacy-policy-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.about-ragnar-relay-privacy-policy-line2' | translate }}
        </p>
      </div>
      <div class="privacy_policy_main-content">
        <h3 class="ragnar-ambassdors">{{ 'static-pages.privacy-policy.what-information-we-collect' | translate }}</h3>
        <h4>{{ 'static-pages.privacy-policy.all-users' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-all-users-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.about-all-users-line2' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.about-all-users-we-collect' | translate }}
          <b>{{ 'static-pages.privacy-policy.all-users-basic-information' | translate }}</b>
          {{ 'static-pages.privacy-policy.all-users-basic-information1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.all-users-you-can-choose' | translate }}
          <b>{{ 'static-pages.privacy-policy.contacts-information' | translate }} </b
          >{{ 'static-pages.privacy-policy.all-users-contacts-information' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.all-users-gather information' | translate }}
          <b>{{ 'static-pages.privacy-policy.all-users-share-services' | translate }}</b>
        </p>
        <p>
          {{ 'static-pages.privacy-policy.we-collect-process' | translate }}
          <b>{{ 'static-pages.privacy-policy.location-information' | translate }}</b>
          {{ 'static-pages.privacy-policy.location-information-line1' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.cookies-and-other' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-cookies-and-other' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.google' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-google-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.about-google-line2' | translate }}
          <a href="http://www.aboutads.info/" target="_blank">{{ 'static-pages.privacy-policy.email' | translate }}</a>
        </p>
        <h4>{{ 'static-pages.privacy-policy.how-collect-identity' | translate }}</h4>
        <p>{{ 'static-pages.privacy-policy.how-collect-identity-line1' | translate }}</p>
        <ul>
          <li>
            {{ 'static-pages.privacy-policy.how-collect-identity-line2' | translate }}
          </li>
          <li>
            {{ 'static-pages.privacy-policy.how-collect-identity-line3' | translate }}
          </li>
          <li>{{ 'static-pages.privacy-policy.how-collect-identity-line4' | translate }}</li>
          <li>
            {{ 'static-pages.privacy-policy.how-collect-identity-line5' | translate }}
          </li>
        </ul>
        <h4>{{ 'static-pages.privacy-policy.sharing-information' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.sharing-information-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.sharing-information-line2' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.sharing-information-line3' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.controlling-information' | translate }}</h4>
        <h4>{{ 'static-pages.privacy-policy.changing-information' | translate }}</h4>
        <p>{{ 'static-pages.privacy-policy.changing-information-line1' | translate }}</p>
        <p>
          {{ 'static-pages.privacy-policy.changing-information-line2' | translate }}
          <b>{{ 'static-pages.privacy-policy.changing-information-line3' | translate }}</b>
          {{ 'static-pages.privacy-policy.changing-information-line4' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.security' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-security-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.about-security-line2' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.about-security-line3' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.links-to-other' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-links-to-other' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.childrens-privacy' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-childrens-privacy' | translate }}
        </p>
        <h4>{{ 'static-pages.privacy-policy.privacy-changes' | translate }}</h4>
        <p>
          {{ 'static-pages.privacy-policy.about-privacy-changes' | translate }}
        </p>

        <h4>{{ 'static-pages.privacy-policy.how-contact-us' | translate }}</h4>
        <p>{{ 'static-pages.privacy-policy.contact-customer-services' | translate }}</p>
        <ul>
          <li>{{ 'static-pages.privacy-policy.how-contact-us-line1' | translate }}</li>
          <li>{{ 'static-pages.privacy-policy.how-contact-us-line2' | translate }}</li>
          <li>{{ 'static-pages.privacy-policy.how-contact-us-line3' | translate }}</li>
        </ul>

        <p>
          {{ 'static-pages.privacy-policy.any-questions-line1' | translate }}
        </p>
        <p>
          {{ 'static-pages.privacy-policy.any-questions-line2' | translate
          }}<a href="mailto:customerservice@runragnar.com">{{ 'static-pages.privacy-policy.email-for-any-questions' | translate }}</a>
        </p>
      </div>
    </div>
  </section>
</div>
